
<!----------------------------Quem foi responsável por prestar apoio no local------------------------------------>
<div class ="alert col-sm-12 alert-success" style="text-align: center;">
    <strong style="align-items: center;">Quem foi responsável por prestar apoio no local:</strong>
    <strong id="alert_responsavel_apoio" style="color:red;">*</strong>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="background-color: #e6e6e6; padding: 8px;">
            <b>Atenção:</b><i>Em caso de selecionar a opção outro ou possuir mais opções, utilize a caixa de comentário para descrever:</i>
        </p>
    </div>
</div>

<div class="row text-center">
    <div class="col-3 checkbox mx-auto">
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="orgao_transito" name="orgao_transito" value="orgao_transito">
        <label for="orgao_transito">Órgãos Municipais de Trânsitos</label>
    </div>

    <div class="col-2">
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="bombeiro" name="bombeiro" value="bombeiro" >
        <label for="bombeiro">Corpo de Bombeiros </label>
    </div>

    <div class="col-1">
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="prf" name="prf" value="prf">
        <label for="prf">PRF</label>
    </div>

    <div class="col-2">
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="samu" name="samu" value="samu">
        <label for="samu">SAMU</label>
    </div>

    <div class="col-2">
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="s_terceiro" name="s_terceiro" value="s_terceiro">
        <label for="s_terceiro">Socorrido por terceiros</label>
    </div>

    <div class="col-2">
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="outros" name="outros" value="outros">
        <label for="outros">Outros</label>
    </div>
</div>

<div class="text-area">

    <div class="mb-3 mt-3">
        <label for="comment">Comentário:</label>
        <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>

    </div>

</div>
