<div class="row m-0 mt-3">
    <div class="alert col-sm-12 mb-0 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Nome da Instituição</strong>
        <strong id="alert_instituicao" style="color:red">*</strong>
    </div>
</div>
<div class="col-4 sm-0 mb-4 mx-auto">
    <action class="was-validated">
        <label for="nome_instituicao"></label>
        <input type="text" class="form-control" id="nome_instituicao" placeholder="Digite o nome da instituicao, por favor." name="nome_instituicao" pattern="^[a-zA-Z]{4,}(?: [a-zA-Z]+){0,6}$" required>
        <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
        <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">(Apenas letras sem acentos)</div>
    </action>
</div>

<div class="row">
    <div class="alert col-sm-12 mb-0 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Nome do Secretário(a) Municipal de Saúde</strong>
        <strong id="alert_nome_secretario"style="color:red">*</strong>
    </div>
</div>
<div class="col-4 sm-0 mb-4 mx-auto">
    <action class="was-validated">
        <label for="nome_secretario"></label>
        <input type="text" class="form-control" id="nome_secretario" placeholder="Digite o nome do Secretario, por favor." name="nome_secretario" pattern="^[a-zA-Z]{4,}(?: [a-zA-Z]+){0,6}$" required>
        <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
        <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">(Apenas letras sem acentos)</div>
    </action>
</div>
<div class="row">
    <div class="alert col-sm-12 mb-0 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Cargo ou Função do Notificador</strong>
        <strong id="alert_funcao_notificador"style="color:red">*</strong>
    </div>
</div>
<div class="col-4 sm-0 mb-4 mx-auto">
    <action class="was-validated">
        <label for="funcao_notificador"></label>
        <input type="text" class="form-control" id="funcao_notificador" placeholder="Digite o cargo ou função do notificador, por favor." name="funcao_notificador" pattern="^[a-zA-Z]{4,}(?: [a-zA-Z]+){0,6}$" required>
        <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
        <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">(Apenas letras sem acentos)</div>
    </action>
</div>
<div class="row">
    <div class="alert col-sm-12 mb-0 mt-3 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Contato do Notificador</strong>
        <strong id="alert_contato_notificador" style="color:red">*</strong>
    </div>
</div>
<div class="col-sm-3  mx-auto">
    <action class="was-validated">
        <label for="contato_notificador"></label><br/>
        <input id="contato_notificador" class="form-control" type="tel" name= "contato_notificador" pattern="^\d{3}-\d{4}-\d{4}$"placeholder="Formato: 000-0000-0000" required >
        <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
        <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">(Apenas numeros e travessão)</div>
    </action>
</div>
   