
<!----------------------------Quem foi responsável por prestar apoio no local------------------------------------>
<div class ="alert col-sm-12 alert-success" style="text-align: center;">
    <strong style="align-items: center;">Quem foi responsável por prestar apoio no local:</strong>
    <strong style="color:red;">*</strong>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="background-color: #e6e6e6; padding: 8px;">
            <b>Atenção:</b><i>Em caso de selecionar a opção outro ou possuir mais opções, utilize a caixa de comentário para descrever:</i>
        </p>
    </div>
</div>

<div class="row text-center">
    <div class="col-3 checkbox mx-auto">
        <input type="checkbox" id="nome" name="Houve_Vitimas_Fatais" value="nome">
        <label for="nome">Órgãos Municipais de Trânsitos</label>
    </div>

    <div class="col-2">
        <input type="checkbox" id="Corpo de Bombeiros" name="Houve_Vitimas_Fatais" valor="Corpo de Bombeiros" >
        <label for="Corpo de Bombeiros">Corpo de Bombeiros </label>
    </div>

    <div class="col-1">
        <input type="checkbox" id="PRF" name="Houve_Vitimas_Fatais" value="PRF">
        <label for="PRF">PRF</label>
    </div>

    <div class="col-2">
        <input type="checkbox" id="SAMU" name="Houve_Vitimas_Fatais" value="SAMU">
        <label for="SAMU">SAMU</label>
    </div>

    <div class="col-2">
        <input type="checkbox" id="Socorrido por terceiros" name="Houve_Vitimas_Fatais" value="Socorrido por terceiros">
        <label for="Socorrido por terceiros">Socorrido por terceiros</label>
    </div>

    <div class="col-2">
        <input type="checkbox" id="Outros" name="Houve_Vitimas_Fatais" value="Outros">
        <label for="Outros">Outros</label>
    </div>
</div>

<div class="text-area">
    <action ="/action_page.php" class="was-validated">
    <div class="mb-3 mt-3">
        <label for="comment">Comentário:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>    
</div>
