<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Data do Acidente</strong>
            <strong id= "data_acidente" style="color:red">*</strong></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 mx-auto">
        <div action="/action_page.php" class="was-validated">
            <label for="date_acidente"></label>
            <input type="date" class= form-control id="date_acidente" name="date_acidente"required>
            <div class="valid-feedback text-center"></div>
            <div class="invalid-feedback text-center"></div>
        </div>
    </div>
</div>
<div class="row">
       <div class="col-sm-12 mt-5">
            <div class="alert alert-success" style="text-align: center;">
                <strong style="align-items: center;">Período do dia</strong>
                <strong id="alert_periodo_dia" style="color:red">*</strong></i>
            </div>
        </div>
</div>

        <div class="row mt-4 text-center">
            <div class="radio col">
                <input type="radio" id="manha" name="manha" value="">
                <label for="manha">Mãnha</label>
            </div>

    <div class="radio col">
        <input type="radio" id="tarde" name="tarde" value="">
        <label for="tarde">Tarde</label>
    </div>
    <div class="radio col disable">
        <input type="radio" id="noite" name="noite" value="">
        <label for="noite">Noite</label>
    </div>
</div>

<div class="row col-sm mt-3">
    <div class="col-sm-12 mt-4">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Em que dia da semana ocorreu o acidente</strong>
            <strong id= alert_dia_semana style="color:red">*</strong></i>
        </div>
    </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        <input type="radio" id="segunda" name="segunda" value="">
        <label for="segunda">Segunda</label>
    </div>
    <div class="radio col">
        <input type="radio" id="terca" name="terca" value="">
        <label for="terca">Terça</label>
    </div>
    <div class="radio col">
        <input type="radio" id="quarta" name="quarta" value="">
        <label for="quarta">Quarta</label>
    </div>
        <div class="radio col">
            <input type="radio" id="quinta" name="quinta" value="">
            <label for="quinta">Quinta</label>
    </div>
    <div class="radio col">
        <input type="radio" id="sexta" name="sexta" value="">
        <label for="sexta">Sexta</label>
    </div>
    <div class="radio col">
        <input type="radio" id="sabado" name="sabado" value="">
        <label for="sabado">Sábado</label>
    </div>
    <div class="radio col disable">
        <input type="radio" id="domingo" name="domingo" value="">
        <label for="domingo">Domingo</label>
    </div>
</div>
    
<div class="row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Acidente ocorreu em dia de feriado</strong>
        <strong id="alert_dia_feriado" style="color:red">*</strong></i>
    </div>
</div>
<div class="mb-3 row mt-4 text-center">
    <div class="radio col">
        <input type="radio" id="f_sim" name="f_sim" value="">
        <label for="f_sim">Sim</label>
    </div>
    <div class="radio col">
        <input type="radio" id="f_nao" name="f_nao" value="">
        <label for="f_nao">Não</label>
    </div>
</div>


<!-------------------------------Municipio de Ocorrência do Acidente----------------------------->

<div class="row mt-4 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
    <strong style="align-items: center;">Município de Ocorrência do Acidente</strong>
        <strong id="alert_municipio"style="color:red">*</strong></i>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-4 mx-auto">
        <action class="was-validated">
        <label for="munic_ocorrencia"></label>
        <select name="munic_ocorrencia" id="munic_ocorrencia" class="form-control" placeholder="" required>
            <option value=""></option>
            <option value="João Pessoa">João Pessoa</option>
            <option value="Santa Rita">Santa Rita</option>
            <option value="Bayeux">Bayeux</option>
            <option value="Cabedelo">Cabedelo</option>
            <option value="Conde">Conde</option>
            <option value="Rio Tinto">Rio Tinto</option>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
        </action>
            </select>
    </div>
</div>

<div class="row mt-4 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Endereço do local do Acidente:</strong>
        <strong id="alert_endereco_acidente" style="color:red">*</strong></i>
    </div>
</div>
<div class="col-4 mb-4 mx-auto">
    <action class="was-validated">
    <label for="endereco_acidente"></label>
    <input type="text" class="form-control" id="endereco_acidente" placeholder="Digite seu endereço, por favor" name="endereco_acidente" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback"></div>
    </action>
</div>
    <!------------------------------------------Bloco: Tipo de Acidente:---------------------------------------------->

<div class="row mt-5 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Tipo de Acidente:</strong>
        <strong id="alert_tipo-acidente"style="color:red">*</strong></i>
    </div>
</div>
<div class= "row mb-3 mt-4 text-center">
    <div class="radio col">
        <input type="radio" id="abalroamento" name="abalroamento" value="">
        <label for="abalroamento">Abalroamento</label>
    </div>
        <div class="radio col">
            <input type="radio" id="atropelamento" name="atropelamento" value="">
            <label for="atropelamento">Atropelamento</label>
    </div>
    <div class="radio col">
        <input type="radio" id="capotamento" name="capotamento" value="">
        <label for="capotamento">Capotamento</label>
    </div>
    <div class="radio col">
        <input type="radio" id="queda_moto" name="queda_moto" value="">
        <label for="queda_moto">Queda de Moto</label>
    </div>
    <div class="radio col">
        <input type="radio" id="colisao_choque" name="colisao_choque" value="">
        <label for="colisao_choque">Colisão/Choque</label>
    </div>
    <div class="radio col">
        <input type="radio" id="outros" name="outros" value="">
        <label for="outros">Outros</label>
    </div>
</div>



<!------------------------------------HOME: Tipo de Veiculos Envolvidos no Acidente:------------------------------------------------->

<div class="row row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Tipo de veiculos envolvidos no acidente:</strong>
        <strong id="alert_tipo_veiculo"style="color:red">*</strong>
    </div>
</div>

<div class="row mb-3 text-center mt-5">
    <div class="radio col-1">
        <input type="radio" id="carro" name="carro" value="">
        <label for="carro">Carro</label>
    </div>
    <div class="radio col">
        <input type="radio" id="caminhao" name="caminhao" value="">
        <label for="caminhao">Caminhão</label>
    </div>
    <div class="radio col">
        <input type="radio" id="motocicleta" name="motocicleta" value="">
        <label for="motocicleta">Motocicleta</label>
    </div>
    <div class="radio col">
        <input type="radio" id="motonetas" name="motonetas" value="">
        <label for="motonetas">Motonetas(50cc)</label>
    </div>
    <div class="radio col">
        <input type="radio" id="bicicleta" name="bicicleta" value="">
        <label for="bicicleta">Bicicleta</label>
    </div>
    <div class="radio col">
        <input type="radio" id="onibus" name="onibus" value="">
        <label for="onibus">Ônibus</label>
    </div>
    <div class="radio col">
        <input type="radio" id="vans" name="vans" value="">
        <label for="vans">Vans</label>
    </div>
    <div class="radio col">
        <input type="radio" id="v_outros" name="v_outros" value="">
        <label for="v_outros">Outros</label>
    </div>
</div>


<!-----------------------------------------------home:O Paciente envolvido no acidente era------------------------------------------------>

<div class="row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Paciente envolvido no acidente era:</strong>
        <strong id="alert_paciente_envolvido" style="color:red">*</strong></i>
    </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        <input type="radio" id="pedestre" name="pedestre" value="">
        <label for="pedestre">Pedestre</label>
    </div>

    <div class="radio col">
        <input type="radio" id="condutor" name="condutor" value="">
        <label for="condutor">Condutor</label>
    </div>
    <div class="radio col disable">
        <input type="radio" id="passageiro" name="passageiro" value="">
        <label for="passageiro">Passageiro</label>
    </div>
</div>

<!--home:A vítima apresenta sinais de embriagues e/ou cosumo de bebidas alcoolicas-->

<div class="row m-0 mt-4">
        <div class="alert col-sm-12 alert-success" style="text-align: center;">
            <strong style="align-items: center;"> A vítima apresenta sinais de embriagues e/ou cosumo de bebidas alcoolicas:</strong>
            <strong id="alert_sinal_alcoolico"style="color:red">*</strong></i>
        </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        <input type="radio" id="embri_sim" name="embri_sim" value="">
        <label for="embri_sim">Sim</label>
    </div>
    <div class="radio col disable">
        <input type="radio" id="embri_nao" name="embri_nao" value="">
        <label for="embri_nao">Não</label>
    </div>
</div>