<div class="row m-0 mt-3">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Houve Vítimas Fatais:</strong>
        <strong style="color:red">*</strong></i>
    </div>
</div>

<div class="mb-3 row text-center">
    <div class="radio col">
        <input type="radio" id="houve_vitimas_fatais" name="houve_vitimas_fatais" value="">
        <label for="houve_vitimas_fatais">Sim</label>
    </div>
    <div class="radio col">
        <input type="radio" id="houve_vitimas_fatais" name="houve_vitimas_fatais" value="">
        <label for="houve_vitimas_fatais">Não</label>
    </div>
</div>

<!-----------------------------Número de Vítimas Fatais envolvidas no Acidente------------------------------------------>

<div class="row m-0 mt-3">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Número de Vítimas Fatais envolvidas no Acidente:</strong>
        <strong style="color:red">*</strong>
    </div>
    <div class="col-1 mx-auto">
        <input type="number" class="form-control form-control-sm" min="0"max="100" name="numero_vitima_fatais">
    </div>
</div>

<!---------------------------------------------------Número de Feridos envolvidos no Acidente----------------------------->

<div class="row m-0 mt-3">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Número de Feridos envolvidos no Acidente:</strong>
        <strong style="color:red">*</strong>
    </div>
</div>

<div class="row text-center">
    <div class="col-1 mx-auto">
        <input type="number" class="form-control form-control-sm" min="0"max="200" name="numero_feridos_envolvidos">
    </div>
</div>

<!--------------------------------------------Quadro de lesões:--------------------------------------------------->

<div class="row m-0 mt-3">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Quadro de lesões:</strong>
    </div>
</div>
<div class="mb-3 row text-center">
    <div class="radio col">
        <input type="radio" id="quadro_lesoes" name="quadro_lesoes" value="">
        <label for="quadro_lesoes">Leves</label>
    </div>
    <div class="radio col">
        <input type="radio" id="quadro_lesoes" name="quadro_lesoes" value="">
        <label for="quadro_lesoes">Graves</label>
    </div>
    <div class="radio col">
        <input type="radio" id="quadro_lesoes" name="quadro_lesoes" value="">
        <label for="quadro_lesoes">Gravíssimas</label>
    </div>
    <div class="radio col">
        <input type="radio" id="quadro_lesoes" name="quadro_lesoes" value="">
        <label for="quadro_lesoes">Lesão Seguida de Morte</label>
    </div>
</div>

<!--------------------------------------------Em Caso de Obito:--------------------------------------------------->
<div class="row m-0 mt-3">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Em caso de Óbito:</strong>
    </div>
</div>
<div class="mb-3 row text-center">
    <div class="radio col">
        <input type="radio" id="em_caso_obito" name="em_caso_obito" value="">
        <label for="em_caso_obito">Óbito Local</label>
    </div>
    <div class="radio col">
        <input type="radio" id="em_caso_obito" name="em_caso_obito" value="">
        <label for="em_caso_obito">Óbito no Encaminhamento</label>
    </div>
    <div class="radio col">
        <input type="radio" id="em_caso_obito" name="em_caso_obito" value="">
        <label for="em_caso_obito">Obito no Hospital</label>
    </div>
</div>
