table {
    font-size: 0.8rem !important;
}

.table thead th {
    position: sticky;
    top: -1px;
    background-color: #d9d9d9;
    z-index: 2;
}

.table-responsive {
    max-height: 60vh;
    overflow-y: scroll;
}


.th-data {
    min-width: 82px;
}