<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Data do Acidente</strong>            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 mx-auto">        
        <input type="date" class= form-control value="{{caso.data_acidente | date:'Y-m-d'}}" required readonly>            
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mt-5">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Período do dia</strong>                
        </div>
    </div>
</div>

<div class="row mt-4 text-center">
    <div class="radio col">
        {% if caso.periodo_do_dia == 'Mãnha' %}
        <input type="radio" id="periodo_manha" name="periodo_do_dia" value="Manhã" checked disabled>
        {% else %}
        <input type="radio" id="periodo_manha" name="periodo_do_dia" value="Manhã" disabled>
        {% endif %}
        <label for="periodo_manha">Mãnha</label>
    </div>
    <div class="radio col">
        {% if caso.periodo_do_dia == 'Tarde' %}
        <input  type="radio" id="periodo_tarde" name="periodo_do_dia" value="Tarde" checked disabled>
        {% else %}
        <input  type="radio" id="periodo_tarde" name="periodo_do_dia" value="Tarde" disabled>
        {% endif %}
        <label for="periodo_tarde">Tarde</label>
    </div>
    <div class="radio col">
        {% if caso.periodo_do_dia == 'Noite' %}
        <input type="radio" id="periodo_noite" name="periodo_do_dia" value="Noite" checked disabled>
        {% else %}
        <input type="radio" id="periodo_noite" name="periodo_do_dia" value="Noite" disabled>
        {% endif %}
        <label for="periodo_noite">Noite</label>
    </div>
</div>

<div class="row col-sm mt-3">
    <div class="col-sm-12 mt-4">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Em que dia da semana ocorreu o acidente</strong>            
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col-2 mb-4 mx-auto">
        <label for="dia_semana"></label>
        <input style="text-align: center" type="text" class="form-control" id="dia_semana" placeholder="Dia da semana" name="dia_da_semana_ocorreu" value="{{caso.dia_da_semana_ocorreu}}" aria-label="" readonly>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
    </div>
</div>
    
<div class="row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Acidente ocorreu em dia de feriado</strong>        
    </div>
</div>
<div class="mb-3 row mt-4 text-center">
    <div class="radio col">
        {% if caso.ocorreu_dia_feriado == 'Sim' %}
        <input type="radio" value="Sim" checked disabled>
        {% else %}
        <input type="radio" value="Sim" disabled>
        {% endif %}
        <label for="f_sim">Sim</label>
    </div>
    <div class="radio col">
        {% if caso.ocorreu_dia_feriado == 'Não' %}
        <input type="radio" value="Não" checked disabled>
        {% else %}
        <input type="radio" value="Não" disabled>
        {% endif %}
        <label for="f_nao">Não</label>
    </div>
</div>

<!-------------------------------Municipio de Ocorrência do Acidente----------------------------->

<div class="row mt-4 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Município de Ocorrência do Acidente</strong>        
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-4 mx-auto">
        <input type="text" class="form-control" value="{{caso.municipio_ocorrencia_acidente}}" readonly>                 
    </div>
</div>

<div class="row mt-4 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Endereço do local do Acidente:</strong>        
    </div>
    <div class="col-3 mb-4 mx-auto">
        <input type="text" class="form-control" value="{{caso.bairro}}" readonly>         
    </div>
    <div class="col-4 mb-4 mx-auto">
        <input type="text" class="form-control" value="{{caso.endereco_local_acidente}}" readonly>         
    </div>
</div>


    <!------------------------------------------Bloco: Tipo de Acidente:---------------------------------------------->

<div class="row mt-5 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Tipo de Acidente:</strong>        
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-4 mx-auto">
        <input type="text" class="form-control" value="{{caso.tipo_acidente}}" readonly>                 
    </div>
</div>

<div class="row sm-0 mt-1">
    <div class="" style="text-align: center;">
        <strong style="align-items: center;"></strong>        
    </div>
</div>
{% if caso.tipo_acidente == 'Outros' %}
<div class="row" id="text-acidente">
{% else %}
<div class="row d-none" id="text-acidente">
{% endif %}
    <div class="col-sm-4 mx-auto ">
        <input type="text" class="form-control" value="{{caso.tipo_acidente_outros}}" readonly>        
    </div>

</div>



<!------------------------------------HOME: Tipo de Veiculos Envolvidos no Acidente:------------------------------------------------->

<div class="row row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Tipo de veiculos envolvidos no acidente:</strong>        
    </div>
</div>

    <div class="row mt-3">
        <div class="col-4 mb-4 mx-auto">
            <input type="text" class="form-control" value="{{caso.tipos_veiculos_envolvidos}}" readonly>
        </div>

        <div class="row sm-0 mt-1">
    <div class="" style="text-align: center;">
        <strong style="align-items: center;"></strong>        
    </div>
</div>
{% if caso.tipos_veiculos_envolvidos == 'Outros' %}                    
<div class="row" id="text-veiculo" >
{% else %}
<div class="row d-none" id="text-veiculo" >
{% endif %}
    <div class="col-sm-4 mx-auto ">
        <input type="text" class="form-control" value="{{caso.tipos_veiculos_envolvidos_outros}}" readonly>        
    </div>
</div>
</div>


<!-----------------------------------------------home:O Paciente envolvido no acidente era------------------------------------------------>

<div class="row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Paciente envolvido no acidente era:</strong>        
    </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        {% if caso.paciente_envolvido_acidente == 'Pedestre' %}
        <input type="radio" id="pedestre" name="paciente_envolvido_acidente" value="Pedestre" checked disabled>
        {% else %}
        <input type="radio" id="pedestre" name="paciente_envolvido_acidente" value="Pedestre" disabled>
        {% endif %}
        <label for="pedestre">Pedestre</label>
    </div>

    <div class="radio col">
        {% if caso.paciente_envolvido_acidente == 'Condutor' %}
        <input type="radio" id="condutor" name="paciente_envolvido_acidente" value="Condutor" checked disabled>
        {% else %}
        <input type="radio" id="condutor" name="paciente_envolvido_acidente" value="Condutor" disabled>
        {% endif %}
        <label for="condutor">Condutor</label>
    </div>
    <div class="radio col disable">
        {% if caso.paciente_envolvido_acidente == 'Passageiro' %}
        <input type="radio" id="passageiro" name="paciente_envolvido_acidente" value="Passageiro" checked disabled>
        {% else %}
        <input type="radio" id="passageiro" name="paciente_envolvido_acidente" value="Passageiro" disabled>
        {% endif %}
        <label for="passageiro">Passageiro</label>
    </div>
</div>

<!--home:A vítima apresenta sinais de embriagues e/ou cosumo de bebidas alcoolicas-->

<div class="row m-0 mt-4">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;"> A vítima apresenta sinais de embriagues e/ou cosumo de bebidas alcoolicas:</strong>            
    </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        {% if caso.presenca_sinais_embriagues == 'Sim' %}
        <input type="radio" id="embriadado_sim" name="presenca_sinais_embriagues" value="Sim" checked disabled>
        {% else %}
        <input type="radio" id="embriadado_sim" name="presenca_sinais_embriagues" value="Sim" disabled>
        {% endif %}
        <label for="embriadado_sim">Sim</label>
    </div>
    <div class="radio col disable">
        {% if caso.presenca_sinais_embriagues == 'Não' %}
        <input type="radio" id="embriagado_nao" name="presenca_sinais_embriagues" value="Não" checked disabled>
        {% else %}
        <input type="radio" id="embriagado_nao" name="presenca_sinais_embriagues" value="Não" disabled>
        {% endif %}
        <label for="embriagado_nao">Não</label>
    </div>
</div>