<div class="row mb-4 mt-3">
    <div class="alert col-sm-12 mb-0 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Nome da Instituição</strong>        
    </div>
</div>
<div class="col-4 sm-0 mb-4 mx-auto">
    <input type="text" class="form-control" value="{{caso.nome_hospital_ou_instituicao}}" readonly>    
</div>

<div class="row mb-4">
    <div class="alert col-sm-12 mb-0 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Nome do Responsável pela Digitação</strong>        
    </div>
</div>
<div class="col-4 sm-0 mb-4 mx-auto">
    <input type="text" class="form-control" value="{{caso.nome_secretario_municipal_saude}}" readonly>    
</div>
<div class="row mb-4">
    <div class="alert col-sm-12 mb-0 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Cargo ou Função do Notificador</strong>        
    </div>
</div>
<div class="col-4 sm-0 mb-4 mx-auto">
    <input type="text" class="form-control" value="{{caso.cargo_funcao_notificador}}" readonly>        
</div>
<div class="row mb-4">
    <div class="alert col-sm-12 mb-0 mt-3 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Contato do Notificador</strong>        
    </div>
</div>
<div class="col-sm-3  mx-auto">
    <input type="tel" class="form-control" value="{{caso.contato_notificador}}" readonly>            
</div>
   