<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Data do Acidente</strong>
            <strong id= "alert_data_acidente" style="color:red">*</strong></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 mx-auto">
        <div action="/action_page.php" class="was-validated">
            <label for="date_acidente"></label>
            <input type="date" class= form-control id="date_acidente" name="data_acidente" value="{{caso.data_acidente | date:'Y-m-d'}}" required>
            <div class="valid-feedback text-center"></div>
            <div class="invalid-feedback text-center"></div>
        </div>
    </div>
</div>
<div class="row">
       <div class="col-sm-12 mt-5">
            <div class="alert alert-success" style="text-align: center;">
                <strong style="align-items: center;">Período do dia</strong>
                <strong id="alert_periodo_dia" style="color:red">*</strong></i>
            </div>
        </div>
</div>

<div class="row mt-4 text-center">
    <div class="radio col">
        {% if caso.periodo_do_dia == "manha" %}
        <input onchange="verificaPeriodoDia()" type="radio" id="periodo_manha" name="periodo_do_dia" value="manha" checked>
        {% else %}
        <input onchange="verificaPeriodoDia()" type="radio" id="periodo_manha" name="periodo_do_dia" value="manha">
        {% endif %}
        <label for="periodo_manha">Mãnha</label>
    </div>
    <div class="radio col">
        {% if caso.periodo_do_dia == "tarde" %}
        <input onchange="verificaPeriodoDia()"  type="radio" id="periodo_tarde" name="periodo_do_dia" value="tarde" checked>
        {% else %}
        <input onchange="verificaPeriodoDia()"  type="radio" id="periodo_tarde" name="periodo_do_dia" value="tarde">
        {% endif %}
        <label for="periodo_tarde">Tarde</label>
    </div>
    <div class="radio col">
        {% if caso.periodo_do_dia == "noite" %}
        <input onchange="verificaPeriodoDia()" type="radio" id="periodo_noite" name="periodo_do_dia" value="noite" checked>
        {% else %}
        <input onchange="verificaPeriodoDia()" type="radio" id="periodo_noite" name="periodo_do_dia" value="noite">
        {% endif %}
        <label for="periodo_noite">Noite</label>
    </div>
</div>

<div class="row col-sm mt-3">
    <div class="col-sm-12 mt-4">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Em que dia da semana ocorreu o acidente</strong>
            <strong id= alert_dia_semana style="color:red">*</strong></i>
        </div>
    </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        {% if caso.dia_da_semana_ocorreu == "segunda" %}
        <input onchange="verificadiaSemana()" type="radio" id="segunda" name="dia_da_semana_ocorreu" value="segunda" checked>
        {% else %}
        <input onchange="verificadiaSemana()" type="radio" id="segunda" name="dia_da_semana_ocorreu" value="segunda">
        {% endif %}
        <label for="segunda">Segunda</label>
    </div>
    <div class="radio col">
        {% if caso.dia_da_semana_ocorreu == "terca" %}
        <input onchange="verificadiaSemana()" type="radio" id="terca" name="dia_da_semana_ocorreu" value="terca" checked>
        {% else %}
        <input onchange="verificadiaSemana()" type="radio" id="terca" name="dia_da_semana_ocorreu" value="terca">
        {% endif %}
        <label for="terca">Terça</label>
    </div>
    <div class="radio col">
        {% if caso.dia_da_semana_ocorreu == "quarta" %}
        <input onchange="verificadiaSemana()" type="radio" id="quarta" name="dia_da_semana_ocorreu" value="quarta" checked>
        {% else %}
        <input onchange="verificadiaSemana()" type="radio" id="quarta" name="dia_da_semana_ocorreu" value="quarta">
        {% endif %}
        <label for="quarta">Quarta</label>
    </div>
    <div class="radio col">
        {% if caso.dia_da_semana_ocorreu == "quinta" %}
        <input onchange="verificadiaSemana()" type="radio" id="quinta" name="dia_da_semana_ocorreu" value="quinta" checked>
        {% else %}
        <input onchange="verificadiaSemana()" type="radio" id="quinta" name="dia_da_semana_ocorreu" value="quinta">
        {% endif %}
        <label for="quinta">Quinta</label>
    </div>
    <div class="radio col">
        {% if caso.dia_da_semana_ocorreu == "sexta" %}
        <input onchange="verificadiaSemana()" type="radio" id="sexta" name="dia_da_semana_ocorreu" value="sexta" checked>
        {% else %}
        <input onchange="verificadiaSemana()" type="radio" id="sexta" name="dia_da_semana_ocorreu" value="sexta">
        {% endif %}
        <label for="sexta">Sexta</label>
    </div>
    <div class="radio col">
        {% if caso.dia_da_semana_ocorreu == "sabado" %}
        <input onchange="verificadiaSemana()" type="radio" id="sabado" name="dia_da_semana_ocorreu" value="sabado" checked>
        {% else %}
        <input onchange="verificadiaSemana()" type="radio" id="sabado" name="dia_da_semana_ocorreu" value="sabado">
        {% endif %}
        <label for="sabado">Sábado</label>
    </div>
    <div class="radio col">
        {% if caso.dia_da_semana_ocorreu == "domingo" %}
        <input onchange="verificadiaSemana()" type="radio" id="domingo" name="dia_da_semana_ocorreu" value="domingo" checked>
        {% else %}
        <input onchange="verificadiaSemana()" type="radio" id="domingo" name="dia_da_semana_ocorreu" value="domingo">
        {% endif %}
        <label for="domingo">Domingo</label>
    </div>
</div>
    
<div class="row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Acidente ocorreu em dia de feriado</strong>
        <strong id="alert_acidente_dia_feriado" style="color:red">*</strong></i>
    </div>
</div>
<div class="mb-3 row mt-4 text-center">
    <div class="radio col">
        {% if caso.ocorreu_dia_feriado == "Sim" %}
        <input onchange="verificaAcidenteDiaFeriado()" type="radio" id="f_sim" name="ocorreu_dia_feriado" value="Sim" checked>
        {% else %}
        <input onchange="verificaAcidenteDiaFeriado()" type="radio" id="f_sim" name="ocorreu_dia_feriado" value="Sim">
        {% endif %}
        <label for="f_sim">Sim</label>
    </div>
    <div class="radio col">
        {% if caso.ocorreu_dia_feriado == "Não" %}
        <input onchange="verificaAcidenteDiaFeriado()" type="radio" id="f_nao" name="ocorreu_dia_feriado" value="Não" checked>
        {% else %}
        <input onchange="verificaAcidenteDiaFeriado()" type="radio" id="f_nao" name="ocorreu_dia_feriado" value="Não">
        {% endif %}
        <label for="f_nao">Não</label>
    </div>
</div>

<!-------------------------------Municipio de Ocorrência do Acidente----------------------------->

<div class="row mt-4 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
    <strong style="align-items: center;">Município de Ocorrência do Acidente</strong>
        <strong id="alert_municipio"style="color:red">*</strong></i>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-4 mx-auto">
        <action class="was-validated">
        <label for="munic_ocorrencia"></label>
        <select onchange="validarMunicipio(this.value)" name="municipio_ocorrencia_acidente" id="munic_ocorrencia" class="form-control" placeholder="" required>
            {% for municipio in municipios %}
                {% if caso.municipio_ocorrencia_acidente == municipio.nome %}    
                <option value="{{municipio.nome}}" selected>{{municipio.nome}}</option>
                [% else %]
                <option value="{{municipio.nome}}">{{municipio.nome}}</option>            
                {% endif %}
            {% endfor %}
        <div class="valid-feedback"></div>
        <div class="invalid-feedback"></div>
        </action>
        </select>
    </div>
</div>

<div class="row mt-4 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Endereço do local do Acidente:</strong>
        <strong id="alert_endereco_acidente" style="color:red">*</strong></i>
    </div>
</div>
<div class="col-4 mb-4 mx-auto">
    <action class="was-validated">
    <label for="endereco_acidente"></label>
    <input onkeyup="verificaEndrecoLocalAcidente(this.value)" type="text" class="form-control" id="endereco_acidente" placeholder="Digite seu endereço, por favor" name="endereco_local_acidente" pattern="^[a-z .*,A-Z0-9\u00C0-\u00FF]{15,}$" value="{{caso.endereco_local_acidente}}" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback"></div>
    </action>
</div>
    <!------------------------------------------Bloco: Tipo de Acidente:---------------------------------------------->

<div class="row mt-5 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Tipo de Acidente:</strong>
        <strong id="alert_tipo_acidente"style="color:red">*</strong></i>
    </div>
</div>
<div class= "row mb-3 mt-4 text-center">
    <div class="radio col">
        {% if caso.tipo_acidente == "Abalroamento" %}
        <input onchange="verificatipoAcidente()" type="radio" id="abalroamento" name="tipo_acidente" value="Abalroamento" checked>
        {% else %}
        <input onchange="verificatipoAcidente()" type="radio" id="abalroamento" name="tipo_acidente" value="Abalroamento">
        {% endif %}
        <label for="abalroamento">Abalroamento</label>
    </div>
        <div class="radio col">
            {% if caso.tipo_acidente == "Atropelamento" %}
            <input onchange="verificatipoAcidente()" type="radio" id="atropelamento" name="tipo_acidente" value="Atropelamento" checked>
            {% else %}
            <input onchange="verificatipoAcidente()" type="radio" id="atropelamento" name="tipo_acidente" value="Atropelamento">
            {% endif %}
            <label for="atropelamento">Atropelamento</label>
    </div>
    <div class="radio col">
        {% if caso.tipo_acidente == "Capotamento" %}
        <input onchange="verificatipoAcidente()" type="radio" id="capotamento" name="tipo_acidente" value="Capotamento" checked>
        {% else %}
        <input onchange="verificatipoAcidente()" type="radio" id="capotamento" name="tipo_acidente" value="Capotamento">
        {% endif %}
        <label for="capotamento">Capotamento</label>
    </div>
    <div class="radio col">
        {% if caso.tipo_acidente == "Queda de Moto" %}
        <input onchange="verificatipoAcidente()" type="radio" id="queda_moto" name="tipo_acidente" value="Queda de Moto" checked>
        {% else %}
        <input onchange="verificatipoAcidente()" type="radio" id="queda_moto" name="tipo_acidente" value="Queda de Moto">
        {% endif %}
        <label for="queda_moto">Queda de Moto</label>
    </div>
    <div class="radio col">
        {% if caso.tipo_acidente == "Colisão/Choque" %}
        <input onchange="verificatipoAcidente()" type="radio" id="colisao_choque" name="tipo_acidente" value="Colisão/Choque" checked>
        {% else %}
        <input onchange="verificatipoAcidente()" type="radio" id="colisao_choque" name="tipo_acidente" value="Colisão/Choque">
        {% endif %}
        <label for="colisao_choque">Colisão/Choque</label>
    </div>
    <div class="radio col">
        {% if caso.tipo_acidente == "Outros" %}
        <input onchange="verificatipoAcidente()" type="radio" id="outros" name="tipo_acidente" value="Outros" checked>
        {% else %}
        <input onchange="verificatipoAcidente()" type="radio" id="outros" name="tipo_acidente" value="Outros">
        {% endif %}
        <label for="outros">Outros</label>
    </div>
</div>



<!------------------------------------HOME: Tipo de Veiculos Envolvidos no Acidente:------------------------------------------------->

<div class="row row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Tipo de veiculos envolvidos no acidente:</strong>
        <strong id="alert_tipo_veiculo"style="color:red">*</strong>
    </div>
</div>

<div class="row mb-3 text-center mt-5">
    <div class="radio col-1">
        {% if caso.tipos_veiculos_envolvidos == "Carro" %}
        <input onchange="verificatipoVeiculo()" type="radio" id="carro" name="tipos_veiculos_envolvidos" value="Carro" checked>
        {% else %}
        <input onchange="verificatipoVeiculo()" type="radio" id="carro" name="tipos_veiculos_envolvidos" value="Carro">
        {% endif %}
        <label for="carro">Carro</label>
    </div>
    <div class="radio col">
        {% if caso.tipos_veiculos_envolvidos == "Caminhão" %}
        <input onchange="verificatipoVeiculo()" type="radio" id="caminhao" name="tipos_veiculos_envolvidos" value="Caminhão" checked>
        {% else %}
        <input onchange="verificatipoVeiculo()" type="radio" id="caminhao" name="tipos_veiculos_envolvidos" value="Caminhão">
        {% endif %}
        <label for="caminhao">Caminhão</label>
    </div>
    <div class="radio col">
        {% if caso.tipos_veiculos_envolvidos == "Motocicleta" %}
        <input onchange="verificatipoVeiculo()" type="radio" id="motocicleta" name="tipos_veiculos_envolvidos" value="Motocicleta" checked>
        {% else %}
        <input onchange="verificatipoVeiculo()" type="radio" id="motocicleta" name="tipos_veiculos_envolvidos" value="Motocicleta">
        {% endif %}
        <label for="motocicleta">Motocicleta</label>
    </div>
    <div class="radio col">
        {% if caso.tipos_veiculos_envolvidos == "Motonetas(50cc)" %}
        <input onchange="verificatipoVeiculo()" type="radio" id="motonetas" name="tipos_veiculos_envolvidos" value="Motonetas(50cc)" checked>
        {% else %}
        <input onchange="verificatipoVeiculo()" type="radio" id="motonetas" name="tipos_veiculos_envolvidos" value="Motonetas(50cc)">
        {% endif %}
        <label for="motonetas">Motonetas(50cc)</label>
    </div>
    <div class="radio col">
        {% if caso.tipos_veiculos_envolvidos == "Bicicleta" %}
        <input onchange="verificatipoVeiculo()" type="radio" id="bicicleta" name="tipos_veiculos_envolvidos" value="Bicicleta" checked>
        {% else %}
        <input onchange="verificatipoVeiculo()" type="radio" id="bicicleta" name="tipos_veiculos_envolvidos" value="Bicicleta">
        {% endif %}
        <label for="bicicleta">Bicicleta</label>
    </div>
    <div class="radio col">
        {% if caso.tipos_veiculos_envolvidos == "Ônibus" %}
        <input onchange="verificatipoVeiculo()" type="radio" id="onibus" name="tipos_veiculos_envolvidos" value="Ônibus" checked>
        {% else %}
        <input onchange="verificatipoVeiculo()" type="radio" id="onibus" name="tipos_veiculos_envolvidos" value="Ônibus">
        {% endif %}
        <label for="onibus">Ônibus</label>
    </div>
    <div class="radio col">
        {% if caso.tipos_veiculos_envolvidos == "Vans" %}
        <input onchange="verificatipoVeiculo()" type="radio" id="vans" name="tipos_veiculos_envolvidos" value="Vans" checked>
        {% else %}
        <input onchange="verificatipoVeiculo()" type="radio" id="vans" name="tipos_veiculos_envolvidos" value="Vans">
        {% endif %}
        <label for="vans">Vans</label>
    </div>
    <div class="radio col">
        {% if caso.tipos_veiculos_envolvidos == "Outros" %}
        <input onchange="verificatipoVeiculo()" type="radio" id="v_outros" name="tipos_veiculos_envolvidos" value="Outros" checked>
        {% else %}
        <input onchange="verificatipoVeiculo()" type="radio" id="v_outros" name="tipos_veiculos_envolvidos" value="Outros">
        {% endif %}
        <label for="v_outros">Outros</label>
    </div>
</div>


<!-----------------------------------------------home:O Paciente envolvido no acidente era------------------------------------------------>

<div class="row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Paciente envolvido no acidente era:</strong>
        <strong id="alert_paciente_envolvido" style="color:red">*</strong></i>
    </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        {% if caso.paciente_envolvido_acidente == "Pedestre" %}
        <input onchange="verificatipoPaciente()" type="radio" id="pedestre" name="paciente_envolvido_acidente" value="Pedestre" checked>
        {% else %}
        <input onchange="verificatipoPaciente()" type="radio" id="pedestre" name="paciente_envolvido_acidente" value="Pedestre">
        {% endif %}
        <label for="pedestre">Pedestre</label>
    </div>

    <div class="radio col">
        {% if caso.paciente_envolvido_acidente == "Condutor" %}
        <input onchange="verificatipoPaciente()" type="radio" id="condutor" name="paciente_envolvido_acidente" value="Condutor" checked>
        {% else %}
        <input onchange="verificatipoPaciente()" type="radio" id="condutor" name="paciente_envolvido_acidente" value="Condutor">
        {% endif %}
        <label for="condutor">Condutor</label>
    </div>
    <div class="radio col disable">
        {% if caso.paciente_envolvido_acidente == "Passageiro" %}
        <input onchange="verificatipoPaciente()" type="radio" id="passageiro" name="paciente_envolvido_acidente" value="Passageiro" checked>
        {% else %}
        <input onchange="verificatipoPaciente()" type="radio" id="passageiro" name="paciente_envolvido_acidente" value="Passageiro">
        {% endif %}
        <label for="passageiro">Passageiro</label>
    </div>
</div>

<!--home:A vítima apresenta sinais de embriagues e/ou cosumo de bebidas alcoolicas-->

<div class="row m-0 mt-4">
        <div class="alert col-sm-12 alert-success" style="text-align: center;">
            <strong style="align-items: center;"> A vítima apresenta sinais de embriagues e/ou cosumo de bebidas alcoolicas:</strong>
            <strong id="alert_sinal_alcoolico"style="color:red">*</strong></i>
        </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        {% if caso.presenca_sinais_embriagues == "Sim" %}
        <input onchange="verificatipoEmbriagues()" type ="radio" id="embriadado_sim" name="presenca_sinais_embriagues" value="Sim" checked>
        {% else %}
        <input onchange="verificatipoEmbriagues()" type ="radio" id="embriadado_sim" name="presenca_sinais_embriagues" value="Sim">
        {% endif %}
        <label for="embriadado_sim">Sim</label>
    </div>
    <div class="radio col disable">
        {% if caso.presenca_sinais_embriagues == "Não" %}
        <input onchange="verificatipoEmbriagues()" type="radio" id="embriagado_nao" name="presenca_sinais_embriagues" value="Não" checked>
        {% else %}
        <input onchange="verificatipoEmbriagues()" type="radio" id="embriagado_nao" name="presenca_sinais_embriagues" value="Não">
        {% endif %}
        <label for="embriagado_nao">Não</label>
    </div>
</div>