<div class="row mt-3">
    <div class="alert col-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Paciente Envolvido no Acidente</strong>        
    </div>
    <p class="text-uppercase" style="font-size: 100%; background-color: #e6e6e6;">
        <b> Atenção:</b> Foi transferido para um hospital de referência?
    </p>

    </div>
        <div class="mb-3 row pt-1 text-center">
            <div class="radio col">
                {% if caso.paciente_referenciado_regulado_para_hospital == 'Sim' %}
                <input type="radio" name="paciente_referenciado_regulado_para_hospital" id="radio_sim" value="Sim" onchange="active_hospital()" checked disabled>
                {% else %}
                <input type="radio" name="paciente_referenciado_regulado_para_hospital" id="radio_sim" value="Sim" onchange="active_hospital()" disabled>
                {% endif %}
                <label for="radio_sim">Sim</label>
            </div>
            <div class="radio col">
                {% if caso.paciente_referenciado_regulado_para_hospital == 'Não' %}
                <input type="radio" name="paciente_referenciado_regulado_para_hospital" value="Não" id="radio_nao" onchange="active_hospital()" checked disabled>
                {% else %}
                <input type="radio" name="paciente_referenciado_regulado_para_hospital" value="Não" id="radio_nao" onchange="active_hospital()" disabled>
                {% endif %}
                <label for="radio_nao">Não</label>
            </div>
        </div>
        {% if caso.hospital %}
        <div class="m-0 mt-3" id="hospital_transferencia">
        {% else %}
        <div class="m-0 mt-3 d-none" id="hospital_transferencia">
        {% endif %}
            <div class="row">
                <div class="alert col-sm-12 alert-success" style="text-align: center;">
                    <strong style="align-items: center;">Hospital de Transferência</strong>                    
                </div>
            </div>
            <div class="row">
                <div class="col-4 mx-auto">
                    <input type="text" class="form-control" value="{{caso.hospital}}" readonly>                    
                </div>
            </div>
        </div>

        <div class="row sm-0 mt-3">
            <div class="alert col-sm-12 alert-success" style="text-align: center;">
                <strong style="align-items: center;">Informações Complementares:</strong>                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4  mx-auto">
                <label for="comment">Comentários:</label>
                <textarea class="form-control" rows="3" id="comment" name="informacoes_complementares" readonly>{{caso.informacoes_complementares}}</textarea>
            </div>
        </div>