
<div class="row">
      
  <div class="col">
      
      <label for="quem_foi_responsavel_por_prestar_apoio_local" class="form-label m-0"><spam style="color:red;"></spam><small><b>25-Responsáveis em Prestar Apoio no Local</b></small></label>
      <select multiple class="select-model" id="quem_foi_responsavel_por_prestar_apoio_local" name="quem_foi_responsavel_por_prestar_apoio_local" placeholder="Selecione um item" data-search="true" data-silent-initial-value-set="true" required disabled>
        
        {% if 'Órgãos Municipais de Trânsito' in caso.quem_foi_responsavel_por_prestar_apoio_local %}
        <option value="Órgãos Municipais de Trânsito" selected>Órgãos Municipais de Trânsito </option>
        {% else %}
        <option value="Órgãos Municipais de Trânsito">Órgãos Municipais de Trânsito </option>
        {% endif %}

        {% if 'BPTRAN' in caso.quem_foi_responsavel_por_prestar_apoio_local %}
        <option value="BPTRAN" selected>BPTRAN </option>
        {% else %}
        <option value="BPTRAN">BPTRAN </option>
        {% endif %}
        
        {% if 'Corpo de Bombeiros' in caso.quem_foi_responsavel_por_prestar_apoio_local %}
        <option value="Corpo de Bombeiros" selected>Corpo de Bombeiros </option>
        {% else %}
        <option value="Corpo de Bombeiros">Corpo de Bombeiros </option>
        {% endif %}

        {% if 'PRF' in caso.quem_foi_responsavel_por_prestar_apoio_local %}
        <option value="PRF" selected>PRF </option>
        {% else %}
        <option value="PRF">PRF </option>
        {% endif %}

        {% if 'SAMU' in caso.quem_foi_responsavel_por_prestar_apoio_local %}
        <option value="SAMU" selected>SAMU </option>
        {% else %}
        <option value="SAMU">SAMU </option>
        {% endif %}

        {% if 'Socorrido Por Terceiros' in caso.quem_foi_responsavel_por_prestar_apoio_local %}
        <option value="Socorrido Por Terceiros" selected>Socorrido Por Terceiros </option>
        {% else %}
        <option value="Socorrido Por Terceiros">Socorrido Por Terceiros </option>
        {% endif %}

        {% if 'Outros' in caso.quem_foi_responsavel_por_prestar_apoio_local %}
        <option value="Outros" selected>Outros </option>
        {% else %}
        <option value="Outros">Outros </option>
        {% endif %}

      </select>        
  </div>
  {% if 'Outros' in caso.quem_foi_responsavel_por_prestar_apoio_local %}
  <div class="col">
  {% else %}
  <div class="col d-none">        
  {% endif %}  
    <label for="responsavel_prestar_apoio_outro" class="form-label m-0"><spam style="color:red;"></spam><small><b>Outro: </b></small></label>
    <input type="text" class="form-control form-control-sm" id="responsavel_prestar_apoio_outro" name="responsavel_prestar_apoio_outro" pattern="^[a-z A-Z0-9\\u00C0-\\u00FF]{10,90}$" value="{{caso.responsavel_prestar_apoio_outro}}" onkeypress="return limitcarc(event, 'letr_acent_num')" disabled>
    <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres.</div>
  </div>
      
</div>