
<div class="row">      
  <div class="col">      
    <label for="nome_instituicao" class="form-label m-0"><spam style="color:red;">*</spam><small>Nome da Instituição </small></label>
    <input value="{{caso.nome_instituicao}}" type="text" class="form-control form-control-sm" id="nome_instituicao" name="nome_instituicao" pattern="^[a-z A-Z]{10,90}$"  required  disabled>            
  </div>      
  <div class="col">      
    <label for="nome_responsavel_pela_digitacao" class="form-label m-0"><spam style="color:red;">*</spam><small>Nome do Responsável Pela Digitação </small></label>
    <input value="{{caso.nome_responsavel_pela_digitacao}}" type="text" class="form-control form-control-sm" id="nome_responsavel_pela_digitacao" name="nome_responsavel_pela_digitacao" pattern="^[a-z A-Z]{10,90}$"  required  disabled>            
  </div>
  <div class="col">      
    <label for="cargo_funcao_notificador" class="form-label m-0"><spam style="color:red;">*</spam><small>Cargo/Função do Notificador</small></label>
    <input value="{{caso.cargo_funcao_notificador}}" type="text" class="form-control form-control-sm" id="cargo_funcao_notificador" name="cargo_funcao_notificador" required  disabled>      
  </div>
      
  <div class="col">      
    <label for="contato_notificador" class="form-label m-0"><spam style="color:red;">*</spam><small>Contato do Notificador </small></label>
    <input value="{{caso.contato_notificador}}" type="text" class="form-control form-control-sm" id="contato_notificador" name="contato_notificador" required  disabled>          
  </div>
      
</div>
<div class="row">  
  <div class="col">      
    <label for="nome_instituicao_hospital" class="form-label m-0"><small>Nome da Instituição/Hospital</small></label>
    <select class="select-model" id="nome_instituicao_hospital" name="nome_instituicao_hospital" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" disabled>
      <option value="" selected disabled>Selecione um item</option>
      <option value="outro">Outro</option>
      {% for hospital in hospitais %}
      {% if hospital.nome == caso.nome_instituicao_hospital %}
      <option value="{{hospital.nome}}" selected>{{hospital.nome}}</option>
      {% else %}
      <option value="{{hospital.nome}}">{{hospital.nome}}</option>
      {% endif %}
      {% endfor %}      
    </select>    
  </div>      
</div>