@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*{
    font-family: "Roboto", sans-serif;
}

#titulo_foto{
    background-color: rgba(0, 0, 0, 0.70);
    padding: 10px;
    width: 60%;
    margin:auto;
    border-radius: 7px;
}
.row-dados{
    margin: 0 !important;    
}
#conteudo{
    margin:15px;
    background-color: #fff;
    padding: 10px;
    height: 85%;
    border-radius: 4px;
}
#coluna_direita{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 30px;
}
#titulo_foto h5{
    margin-top: 10px;
}
#coluna_central{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin: 0px 20px 30px 20px
}
#filtros_box{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 5%;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 80%;
    margin-top: 60px;
    margin-bottom: 60px;
}
#hr_filtros{
    margin: 5% auto 5% auto;
    width: 100%;
}
#btn_filtros{
    margin-top: 5%;
}
#btn_exportar{
    margin: 5%;
}
#collapsibleNavbar {
    background-color: #153d89;
    padding: 1vh 2vw;
}
.header .linha-superior{
    background-color: #34ace4;
    height: 3vh;
}
.header img{
    margin-left: 3vw;
    width: 250px;    
}
.header .div-img{
    background-color: #e6e6e6;
}
.footer{
    width: 100%;
    height: 160px;
    padding: 20px 50px;
    background-color: #143c8c;  
    cursor: default;
    overflow-y: hidden;
}
.footer img{
    width: 300px;
    margin-left: 20vw;
}
.footer .container-fluid p {
    color: #fff;
    margin: auto;  
    font-weight: 800;
}
.footer #ses_footer{
    margin-top: 40px;
    text-align: center;
    margin: auto;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}
.footer .author{
    color: #fff;
    font-size: 0.7rem;
    margin-top: 10px !important;
}
@media screen and (max-width: 824px) {
    .header .div-img{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .header .div-img img{
        width: 250px;
    }
    .footer .container-fluid p{
        display: none;
    }
    .footer #ses_footer{
        display: none;
    }  
    .footer img{
        margin: 0;
        margin-right: 15vw;    
    }
    .footer {
        height: fit-content;
    }
}
@media screen and (min-width:825px),(max-width: 1366px) {
    .header img{width: 250px;}
    .footer {height: 115px}
    .footer img{width: 200px;}
    .footer .container-fluid p {font-size: 12px;}
    .footer b {font-size: 14px;}
    .login-page {
        margin-top: 0.5vh;
        transform: scale(0.8);
    }  
}
@media screen and (max-height: 480px) {
    .header{display: none;}
    .footer{display: none;}
}
@media (max-width: 1280px) and (max-height:630px) {
    .header img{transform: scale(0.6); margin-top: -2vh;}
    .header .div-img{height:15vh;}
    .login-page{transform: scale(0.6); margin-top: -10vh;}
    .footer {height: 15vh;padding: 0;}
    .footer .container-fluid p{font-size: 9px;margin-top: 1vw;}
    .footer img{transform: scale(0.6);}
    .footer #ses_footer{text-align: right; margin-top: 5vh;}
    .row-dados{transform: scale(0.8);}
}