<option value="" selected>Selecionar</option>
<option value="0">Analfabeto</option>
<option value="1">1ª a 4ª Série incompleta do EF (antigo primário ou 1º grau)</option>
<option value="2">4ª Série completa do EF</option>
<option value="3">5ª a 8ª Série incompleta do EF (antigo ginásio ou 1° grau)</option>
<option value="4">Ensino Fundamental Completo</option>
<option value="5">Ensino Médio Incompleto (antigo colegial ou 2° grau)</option>
<option value="6">Ensino Médio Completo</option>
<option value="7">Educação Superior Incompleta</option>
<option value="8">Educação Superior Completa</option>
<option value="9">Ignorado</option>
<option value="10">Não se aplica</option>