<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Data do Acidente</strong>
            <strong id= "alert_data_acidente" style="color:red">*</strong></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 mx-auto">
        <div action="/action_page.php" class="was-validated">
            <label for="date_acidente"></label>
            <input type="date" class= form-control id="date_acidente" name="data_acidente" value="{{caso.data_acidente | date:'Y-m-d'}}" required>
            <div class="valid-feedback text-center"></div>
            <div class="invalid-feedback text-center"></div>
        </div>
    </div>
</div>
<div class="row">
       <div class="col-sm-12 mt-5">
            <div class="alert alert-success" style="text-align: center;">
                <strong style="align-items: center;">Período do dia</strong>
                <strong id="alert_periodo_dia" style="color:red">*</strong></i>
            </div>
        </div>
</div>

<div class="row mt-4 text-center">
    <div class="radio col">
        {% if caso.periodo_do_dia == 'Mãnha' %}
        <input onchange="verificaPeriodoDia()" type="radio" id="periodo_manha" name="periodo_do_dia" value="Manhã" checked>
        {% else %}
        <input onchange="verificaPeriodoDia()" type="radio" id="periodo_manha" name="periodo_do_dia" value="Manhã">
        {% endif %}
        <label for="periodo_manha">Mãnha</label>
    </div>
    <div class="radio col">
        {% if caso.periodo_do_dia == 'Tarde' %}
        <input onchange="verificaPeriodoDia()"  type="radio" id="periodo_tarde" name="periodo_do_dia" value="Tarde" checked>
        {% else %}
        <input onchange="verificaPeriodoDia()"  type="radio" id="periodo_tarde" name="periodo_do_dia" value="Tarde">
        {% endif %}
        <label for="periodo_tarde">Tarde</label>
    </div>
    <div class="radio col">
        {% if caso.periodo_do_dia == 'Noite' %}
        <input onchange="verificaPeriodoDia()" type="radio" id="periodo_noite" name="periodo_do_dia" value="Noite" checked>
        {% else %}
        <input onchange="verificaPeriodoDia()" type="radio" id="periodo_noite" name="periodo_do_dia" value="Noite">
        {% endif %}
        <label for="periodo_noite">Noite</label>
    </div>
</div>

<div class="row col-sm mt-3">
    <div class="col-sm-12 mt-4">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Em que dia da semana ocorreu o acidente</strong>
            <strong id= alert_dia_semana style="color:red">*</strong></i>
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col-2 mb-4 mx-auto">
            <label for="dia_semana"></label>
            <input style="text-align: center" type="text" class="form-control" id="dia_semana" placeholder="Dia da semana" name="dia_da_semana_ocorreu" value="{{caso.dia_da_semana_ocorreu}}" aria-label="" readonly>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback"></div>
    </div>
</div>
    
<div class="row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Acidente ocorreu em dia de feriado</strong>
        <strong id="alert_acidente_dia_feriado" style="color:red">*</strong></i>
    </div>
</div>
<div class="mb-3 row mt-4 text-center">
    <div class="radio col">
        {% if caso.ocorreu_dia_feriado == 'Sim' %}
        <input onchange="verificaAcidenteDiaFeriado()" type="radio" id="f_sim" name="ocorreu_dia_feriado" value="Sim" checked>
        {% else %}
        <input onchange="verificaAcidenteDiaFeriado()" type="radio" id="f_sim" name="ocorreu_dia_feriado" value="Sim">
        {% endif %}
        <label for="f_sim">Sim</label>
    </div>
    <div class="radio col">
        {% if caso.ocorreu_dia_feriado == 'Não' %}
        <input onchange="verificaAcidenteDiaFeriado()" type="radio" id="f_nao" name="ocorreu_dia_feriado" value="Não" checked>
        {% else %}
        <input onchange="verificaAcidenteDiaFeriado()" type="radio" id="f_nao" name="ocorreu_dia_feriado" value="Não">
        {% endif %}
        <label for="f_nao">Não</label>
    </div>
</div>

<!-------------------------------Municipio de Ocorrência do Acidente----------------------------->

<div class="row mt-4 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
    <strong style="align-items: center;">Município de Ocorrência do Acidente</strong>
        <strong id="alert_municipio"style="color:red">*</strong></i>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-4 mx-auto">
        <action class="was-validated">
        <label for="munic_ocorrencia"></label>
        <select onchange="validarMunicipio(this.value)" name="municipio_ocorrencia_acidente" id="munic_ocorrencia" class="form-control" placeholder="" required>
        {% for municipio in municipios %}
            {% if caso.municipio_ocorrencia_acidente == municipio %}
            <option value="{{municipio.nome}}" selected>{{municipio.nome}}</option>
            {% else %}
            <option value="{{municipio.nome}}">{{municipio.nome}}</option>
            {% endif %}
        {% endfor %}
        </select>
        <div class="valid-feedback" style="text-align: center;font-size: 0.8em">Correto</div>
        <div class="invalid-feedback" style="font-size: 0.8em; text-align: center">Escolha um nome de município, por favor.</div>
    </div>
</div>

<div class="row mt-4 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Endereço do local do Acidente:</strong>
        <strong id="alert_endereco_acidente" style="color:red">*</strong></i>
    </div>
    <div class="col-3 mb-4 mx-auto">
        <action class="was-validated">
            <label for="bairro"></label>
            <select onchange="validarBairro(this.value)" name="bairro_ocorrencia_acidente" id="bairro" class="form-control" placeholder="" required>
            {% for bairro in bairros %}
                {% if caso.bairro_ocorrencia_acidente == bairro %}
                <option value="{{bairro.nome}}" selected>{{bairro.nome}}</option>
                {% else %}
                <option value="{{bairro.nome}}">{{bairro.nome}}</option>
                {% endif %}
            {% endfor %}                
            </select>
            <div class="valid-feedback" style="text-align: center;font-size: 0.8em">Correto</div>
            <div class="invalid-feedback" style="font-size: 0.8em; text-align: center">Selecione o Bairro, por favor.</div>
        </action>
    </div>
    <div class="col-4 mb-4 mx-auto">
        <action class="was-validated">
        <label for="endereco_acidente"></label>
        <input onkeyup="verificaEndrecoLocalAcidente(this.value)" type="text" class="form-control" id="endereco_acidente" placeholder="Digite seu endereço, por favor" name="endereco_local_acidente" value="{{caso.endereco_local_acidente}}" pattern="^[a-z .*,A-Z0-9\u00C0-\u00FF]{15,}$" required>
        <div class="valid-feedback" style="text-align: center;font-size: 0.8em">Correto</div>
        <div class="invalid-feedback" style="font-size: 0.8em; text-align: center">Digite o endereço do local do acidente, por favor.</div>
    </div>
</div>


    <!------------------------------------------Bloco: Tipo de Acidente:---------------------------------------------->

<div class="row mt-5 m-0">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Tipo de Acidente:</strong>
        <strong id="alert_tipo_acidente"style="color:red">*</strong></i>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4 mb-4 mx-auto">
        <action class="was-validated">
            <label for="tip_acidente"></label>
            <select onchange="verificatipoAcidente(this.value)" name="tipo_acidente" id="tip_acidente" class="form-control" placeholder="" required>
                {% if caso.tipo_acidente == 'Abalroamento' %}
                <option value="Abalroamento" selected>Abalroamento</option>
                {% else %}
                <option value="Abalroamento">Abalroamento</option>
                {% endif %}
                {% if caso.tipo_acidente == 'Atropelamento' %}
                <option value="Atropelamento" selected>Atropelamento</option>
                {% else %}
                <option value="Atropelamento">Atropelamento</option>
                {% endif %}
                {% if caso.tipo_acidente == 'Capotamento' %}
                <option value="Capotamento" selected>Capotamento</option>
                {% else %}
                <option value="Capotamento">Capotamento</option>
                {% endif %}
                {% if caso.tipo_acidente == 'Queda de Moto' %}
                <option value="Queda de Moto" selected>Queda de moto</option>
                {% else %}
                <option value="Queda de Moto">Queda de moto</option>
                {% endif %}
                {% if caso.tipo_acidente == 'Colisão/Choque' %}
                <option value="Colisão/Choque" selected>Colisão/Choque</option>
                {% else %}
                <option value="Colisão/Choque">Colisão/Choque</option>
                {% endif %}
                {% if caso.tipo_acidente == 'Outros' %}
                <option value="Outros" selected>Outros</option>
                {% else %}
                <option value="Outros">Outros</option>
                {% endif %}
            </select>
            <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
            <div class="invalid-feedback" style="font-size: 0.8em; text-align: center">Escolha o tipo de acidente, por favor.</div>
        </action>
    </div>
</div>

<div class="row sm-0 mt-1">
    <div class="" style="text-align: center;">
        <strong style="align-items: center;"></strong>
        <strong id="alert_tipoOutros" style="color:r"></strong>
    </div>
</div>
{% if caso.tipo_acidente == 'Outros' %}
<div class="row" id="text-acidente">
{% else %}
<div class="row d-none" id="text-acidente">
{% endif %}
    <div class="col-sm-4 mx-auto ">
        <action class="was-validated">
        <div class="callout"></div>
        <label for="select_outro"></label>
        <input class="form-control" onkeyup="verificatipoAcidente('Outros')" style="text-align: center;font-size: 0.9em" placeholder="Digite aqui, por favor" id="select_outro"  pattern="^[a-z \u00C0-\u00FFA-Z]{1,30}$" name="tipo_acidente_outros" value="{{caso.tipo_acidente_outros}}">
        <div class="invalid-feedback" style="font-size: 0.8em; text-align: center">Especifique neste campo o tipo de acidente, por favor.</div><div class="valid-feedback" style="text-align: center;font-size: 0.7em">Obrigado</div>
        </action>
    </div>

</div>



<!------------------------------------HOME: Tipo de Veiculos Envolvidos no Acidente:------------------------------------------------->

<div class="row row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">Tipo de veiculos envolvidos no acidente:</strong>
        <strong id="alert_tipo_veiculo"style="color:red">*</strong>
    </div>
</div>

    <div class="row mt-3">
        <div class="col-4 mb-4 mx-auto">
            <action class="was-validated">
                <label for="tipo_veiculo"></label>
                <select onchange="verificatipoVeiculo(this.value)" name="tipos_veiculos_envolvidos" id="tipo_veiculo" class="form-control" placeholder="" required>
                    {% if caso.tipos_veiculos_envolvidos == 'Carro' %}                        
                    <option value="Carro" selected>Carro</option>
                    {% else %}
                    <option value="Carro">Carro</option>
                    {% endif %}
                    {% if caso.tipos_veiculos_envolvidos == 'Caminhão' %}                    
                    <option value="Caminhão" selected>Caminhão</option>
                    {% else %}
                    <option value="Caminhão">Caminhão</option>
                    {% endif %}
                    {% if caso.tipos_veiculos_envolvidos == 'Motocicleta' %}                    
                    <option value="Motocicleta" selected>Motocicleta</option>
                    {% else %}
                    <option value="Motocicleta">Motocicleta</option>
                    {% endif %}
                    {% if caso.tipos_veiculos_envolvidos == 'Motoneta(50cc)' %}                            
                    <option value="Motoneta(50cc)" selected>Motoneta(50cc)</option>
                    {% else %}
                    <option value="Motoneta(50cc)">Motoneta(50cc)</option>
                    {% endif %}
                    {% if caso.tipos_veiculos_envolvidos == 'Ônibus' %}                    
                    <option value="Ônibus" selected>Ônibus</option>
                    {% else %}
                    <option value="Ônibus">Ônibus</option>
                    {% endif %}
                    {% if caso.tipos_veiculos_envolvidos == 'Vans' %}                    
                    <option value="Vans" selected>Vans</option>
                    {% else %}
                    <option value="Vans">Vans</option>
                    {% endif %}
                    {% if caso.tipos_veiculos_envolvidos == 'Outros' %}                    
                    <option value="Outros" selected>Outros</option>
                    {% else %}
                    <option value="Outros">Outros</option>
                    {% endif %}
                </select>
                <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
                <div class="invalid-feedback" style="font-size: 0.8em; text-align: center">Escolha o tipo de veiculo, por favor.</div>
            </action>

        </div>

        <div class="row sm-0 mt-1">
    <div class="" style="text-align: center;">
        <strong style="align-items: center;"></strong>
        <strong style="color:red"></strong>
    </div>
</div>
{% if caso.tipos_veiculos_envolvidos == 'Outros' %}                    
<div class="row" id="text-veiculo" >
{% else %}
<div class="row d-none" id="text-veiculo" >
{% endif %}
    <div class="col-sm-4 mx-auto ">
        <action class="was-validated">
            <div class="callout"></div>
            <label for="comment"></label>
            <input class="form-control" onkeyup="verificatipoVeiculo('Outros')" style="text-align: center;font-size: 0.8em" placeholder="Digite aqui, por favor" rows="3" id="comment" name="tipos_veiculos_envolvidos_outros"  pattern="[a-z \u00C0-\u00FFA-Z]{0,30}$" value="{{caso.tipos_veiculos_envolvidos_outros}}" />
            <div class="invalid-feedback" style="font-size: 0.8em; text-align: center">Especifique neste campo o tipo de veículo, por favor.</div><div class="valid-feedback" style="text-align: center;font-size: 0.7em">Obrigado</div>
        </action>
    </div>

</div>
</div>


<!-----------------------------------------------home:O Paciente envolvido no acidente era------------------------------------------------>

<div class="row m-0 mt-5">
    <div class="alert col-sm-12 alert-success" style="text-align: center;">
        <strong style="align-items: center;">O Paciente envolvido no acidente era:</strong>
        <strong id="alert_paciente_envolvido" style="color:red">*</strong></i>
    </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        {% if caso.paciente_envolvido_acidente == 'Pedestre' %}
        <input onchange="verificatipoPaciente()" type="radio" id="pedestre" name="paciente_envolvido_acidente" value="Pedestre" checked>
        {% else %}
        <input onchange="verificatipoPaciente()" type="radio" id="pedestre" name="paciente_envolvido_acidente" value="Pedestre">
        {% endif %}
        <label for="pedestre">Pedestre</label>
    </div>

    <div class="radio col">
        {% if caso.paciente_envolvido_acidente == 'Condutor' %}
        <input onchange="verificatipoPaciente()" type="radio" id="condutor" name="paciente_envolvido_acidente" value="Condutor" checked>
        {% else %}
        <input onchange="verificatipoPaciente()" type="radio" id="condutor" name="paciente_envolvido_acidente" value="Condutor">
        {% endif %}
        <label for="condutor">Condutor</label>
    </div>
    <div class="radio col disable">
        {% if caso.paciente_envolvido_acidente == 'Passageiro' %}
        <input onchange="verificatipoPaciente()" type="radio" id="passageiro" name="paciente_envolvido_acidente" value="Passageiro" checked>
        {% else %}
        <input onchange="verificatipoPaciente()" type="radio" id="passageiro" name="paciente_envolvido_acidente" value="Passageiro">
        {% endif %}
        <label for="passageiro">Passageiro</label>
    </div>
</div>

<!--home:A vítima apresenta sinais de embriagues e/ou cosumo de bebidas alcoolicas-->

<div class="row m-0 mt-4">
        <div class="alert col-sm-12 alert-success" style="text-align: center;">
            <strong style="align-items: center;"> A vítima apresenta sinais de embriagues e/ou cosumo de bebidas alcoolicas:</strong>
            <strong id="alert_sinal_alcoolico"style="color:red"></strong></i>
            <strong style="font-size:0.8em">(Opcional)</strong>

        </div>
</div>
<div class="row mb-3 mt-4 text-center">
    <div class="radio col">
        {% if caso.presenca_sinais_embriagues == 'Sim' %}
        <input onchange="verificatipoEmbriagues()" type ="radio" id="embriadado_sim" name="presenca_sinais_embriagues" value="Sim" checked>
        {% else %}
        <input onchange="verificatipoEmbriagues()" type ="radio" id="embriadado_sim" name="presenca_sinais_embriagues" value="Sim">
        {% endif %}
        <label for="embriadado_sim">Sim</label>
    </div>
    <div class="radio col disable">
        {% if caso.presenca_sinais_embriagues == 'Não' %}
        <input onchange="verificatipoEmbriagues()" type="radio" id="embriagado_nao" name="presenca_sinais_embriagues" value="Não" checked>
        {% else %}
        <input onchange="verificatipoEmbriagues()" type="radio" id="embriagado_nao" name="presenca_sinais_embriagues" value="Não">
        {% endif %}
        <label for="embriagado_nao">Não</label>
    </div>
</div>