
<!----------------------------Quem foi responsável por prestar apoio no local------------------------------------>
<div class ="alert col-sm-12 alert-success" style="text-align: center;">
    <strong style="align-items: center;">Quem foi responsável por prestar apoio no local:</strong>
    <strong  hidden="" id="alert_responsavel_apoio" style="color:red;">*</strong>
    <span hidden></span>

</div>
<div class="row">
    <div class="col-md-12">
        <p style="font-size: 100%; background-color: #e6e6e6;">
            <b>Atenção:</b><i>Em caso de selecionar a opção outro ou possuir mais opções, utilize a caixa de comentário para descrever:</i>
        </p>
    </div>
</div>

<div class="row text-center">
    <div class="col-3 checkbox mx-auto">
        {% if 'Órgãos Municipais de Trânsitos' in caso.responsavel_prestar_apoio_local %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="orgao_transito" name="responsavel_prestar_apoio_local" value="Órgãos Municipais de Trânsitos" checked>
        {% else %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="orgao_transito" name="responsavel_prestar_apoio_local" value="Órgãos Municipais de Trânsitos">
        {% endif %}
        <label for="orgao_transito">Órgãos Municipais de Trânsitos</label>
    </div>

    <div class="col-2">
        {% if 'Corpo de Bombeiros' in caso.responsavel_prestar_apoio_local %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="bombeiro" name="responsavel_prestar_apoio_local" value="Corpo de Bombeiros" checked>
        {% else %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="bombeiro" name="responsavel_prestar_apoio_local" value="Corpo de Bombeiros">
        {% endif %}
        <label for="bombeiro">Corpo de Bombeiros </label>
    </div>

    <div class="col-1">
        {% if 'PRF' in caso.responsavel_prestar_apoio_local %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="prf" name="responsavel_prestar_apoio_local" value="PRF" checked>
        {% else %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="prf" name="responsavel_prestar_apoio_local" value="PRF">
        {% endif %}
        <label for="prf">PRF</label>
    </div>

    <div class="col-2">
        {% if 'SAMU' in caso.responsavel_prestar_apoio_local %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="samu" name="responsavel_prestar_apoio_local" value="SAMU" checked>
        {% else %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="samu" name="responsavel_prestar_apoio_local" value="SAMU">
        {% endif %}
        <label for="samu">SAMU</label>
    </div>

    <div class="col-2">
        {% if 'Socorrido por terceiros' in caso.responsavel_prestar_apoio_local %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="s_terceiro" name="responsavel_prestar_apoio_local" value="Socorrido por terceiros" checked>
        {% else %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="s_terceiro" name="responsavel_prestar_apoio_local" value="Socorrido por terceiros">
        {% endif %}
        <label for="s_terceiro">Socorrido por terceiros</label>
    </div>

    <div class="col-2">
        {% if 'Outros' in caso.responsavel_prestar_apoio_local %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="outros" name="responsavel_prestar_apoio_local" value="Outros" checked>
        {% else %}
        <input class="reponsaveis-prestar-socorro" type="checkbox" id="outros" name="responsavel_prestar_apoio_local" value="Outros">
        {% endif %}
        <label for="outros">Outros</label>
    </div>
</div>
    <div class="row sm-0 mt-3">
        <div class="alert col-sm-12 alert-success" style="text-align: center;">
            <strong id = alert_outros style="align-items: center;">Informações Complementares:</strong>
            <strong  style="color:red"></strong>
            <span hidden></span>
        </div>
    </div>

<div class="row  d-none" id="outros_row">
    <div class="col-sm-4 mx-auto">
        <label for="select_outro">Comentários:</label>
        <textarea onkeyup="toLimit(this)" class="form-control" id="select_outro" name="responsavel_comentario" placeholder=""  pattern="" required>{{caso.responsavel_comentario}}</textarea>
        <div class="valid-feedback text-center">Correto</div>
        <div class="invalid-feedback text-center">Invalido</div>
    </div>
</div>



