{% extends 'base1.html' %}
{% load static %}

{% block head %}
<style>
    #scrollUp::before{
        position: fixed;
        color: #fff;
        background-color: #203d89;
        box-sizing: border-box;
        z-index: 1;
        right: 2%;
        bottom: 20vh;
        font-size: 35px;
        border-radius: 50%;        
        box-shadow: 0 .2rem .4rem rgba(0,0,0,0.6);        
        cursor: pointer;   
        opacity: .7;             
    }    
</style>
<script src="{% static '_act/js/validacoes_form.js' %}" defer></script>
{% endblock head %}

{% block content %}
<i id="scrollUp" onclick="return window.scrollTo({top:0})" class="bi bi-arrow-up-circle d-none"></i>

<!-- Navegador do formulário -->
<ul class="nav nav-tabs mt-3 mb-3" id="myTab" role="tablist">

    <!-- [NAV-TAB] Informações Gerais -->
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="menu1-tab" data-bs-toggle="tab" data-bs-target="#menu1" href="#menu1" aria-selected="true">Informações Gerais</a>
    </li>

    <!-- [NAV-TAB] Severidade do Acidente e Quantidade-->
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="menu2-tab" data-bs-toggle="tab" data-bs-target="#menu2" href="#menu2" aria-selected="false">Severidade do Acidente e Quantidade de Vítimas</a>
    </li>

    <!-- [NAV-TAB] Equipe Acionada para o local do Acidente -->
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="menu3-tab" data-bs-toggle="tab" data-bs-target="#menu3" href="#menu3" aria-selected="false">Equipe Acionada para o Local do Acidente</a>
    </li>

    <!-- [NAV-TAB] Informações do Paciente -->
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="menu4-tab" data-bs-toggle="tab" data-bs-target="#menu4" href="#menu4" aria-selected="false">Informações do Paciente</a>
    </li>

    <!-- [NAV-TAB] Outras Informações Sobre o Paciente -->
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="menu5-tab" data-bs-toggle="tab" data-bs-target="#menu5" href="#menu5" aria-selected="false">Outras Informações Sobre o Paciente</a>
    </li>

    <!-- [NAV-TAB] Unidade Notificadora -->

    <li class="nav-item" role="presentation">
        <a class="nav-link" id="menu6-tab" data-bs-toggle="tab" data-bs-target="#menu6" href="#menu6" aria-selected="false">Unidade Notificadora</a>
    </li>

</ul>

<!-- Paineis do formulário -->
<div id="scroll" class="tab-content mb-5">

    <!-- [FORM] Informações  Gerais -->
    <div id="menu1" class="container tab-pane fade show active" role="tabpanel" aria-labelledby="menu1-tab">
    {% include 'form-view/act_informacoes_gerais.html' %}    
    </div>

    <!-- [FORM] Severidade do acidente -->
    <div id="menu2" class="container tab-pane fade" role="tabpanel" aria-labelledby="menu2-tab">
    {% include 'form-view/act_severidade_acidente_vitimas.html' %}    
    </div>

    <!-- [FORM] Equipe Acionada -->
    <div id="menu3" class="container tab-pane fade" role="tabpanel" aria-labelledby="menu3-tab">
    {% include 'form-view/act_equipe_acionada_local-acidente.html' %}
    </div>        

    <!-- [FORM] informações do paciente -->
    <div id="menu4" class="container tab-pane fade" role="tabpanel" aria-labelledby="menu4-tab">
    {% include 'form-view/act_informacoes_paciente.html' %}    
    </div>

    <!-- [FORM] Outras informações -->
    <div id="menu5" class="container tab-pane fade" role="tabpanel" aria-labelledby="menu5-tab">
    {% include 'form-view/act_outras_informacoes_paciente.html' %}    
    </div>

    <!-- [FORM] unidade notificadora -->
    <div id="menu6" class="container tab-pane fade" role="tabpanel" aria-labelledby="menu6-tab">
    {% include 'form-view/act_unidade_notificadora.html' %}
    </div>
</div>

{% endblock content %}
