
<div class="row">
      
  <div class="col">
      
        <label for="nome_paciente_sem_abreviacoes" class="form-label m-0"><spam style="color:red;">*</spam><small>Nome do Paciente Sem Abreviacoes </small></label>
        <input value="{{caso.nome_paciente_sem_abreviacoes}}" type="text" class="form-control form-control-sm" id="nome_paciente_sem_abreviacoes" name="nome_paciente_sem_abreviacoes" pattern="^[a-z A-Z]{10,90}$" required  >      
      
  </div>
      
      
  <div class="col">
      
        <label for="data_nascimento" class="form-label m-0"><spam style="color:red;">*</spam><small>Data de Nascimento </small></label>
        <input value="{{caso.data_nascimento|date:'Y-m-d'}}" type="date" class="form-control form-control-sm" id="data_nascimento" name="data_nascimento" required  >      
      
  </div>
      
      
  <div class="col">
      
        <label for="idade_paciente" class="form-label m-0"><spam style="color:red;"></spam><small>Idade do Paciente </small></label>
        <input value="{{caso.idade_paciente}}" type="number" class="form-control form-control-sm" id="idade_paciente" name="idade_paciente" readonly>      
      
  </div>
      
      
  <div class="col">
      
      <label for="sexo" class="form-label m-0"><spam style="color:red;">*</spam><small>Sexo </small></label>
      <div class="radio-container" id="sexo" required >
        {% if caso.sexo == 'Feminino ' %}                  
        <input type="radio" name="sexo" id="sexo-feminino" value="Feminino " checked required>
        {% else %}
        <input type="radio" name="sexo" id="sexo-feminino" value="Feminino " required>
        {% endif %}
        <label class="radio-label" for="sexo-feminino">Feminino </label>
        {% if caso.sexo == 'Masculino ' %}            
        <input type="radio" name="sexo" id="sexo-masculino" value="Masculino " checked required>
        {% else %}
        <input type="radio" name="sexo" id="sexo-masculino" value="Masculino " required>
        {% endif %}
        <label class="radio-label" for="sexo-masculino">Masculino </label>
        {% if caso.sexo == 'Outros   ' %}            
        <input type="radio" name="sexo" id="sexo-outros_" value="Outros   " checked required>
        {% else %}
        <input type="radio" name="sexo" id="sexo-outros_" value="Outros   " required>
        {% endif %}
        <label class="radio-label" for="sexo-outros_">Outros   </label>
      </div>      
      
  </div>
      
</div>
<div class="row">
      
  <div class="col">
      
        <label for="nome_mae" class="form-label m-0"><spam style="color:red;">*</spam><small>Nome da Mae </small></label>
        <input value="{{caso.nome_mae}}" type="text" class="form-control form-control-sm" id="nome_mae" name="nome_mae" pattern="^[a-z A-Z]{10,90}$"  required  >      
      
  </div>
      
      
  <div class="col">
      
        <label for="endereco_paciente" class="form-label m-0"><small>Endereco do Paciente</small></label>
        <input value="{{caso.endereco_paciente}}" type="text" class="form-control form-control-sm" id="endereco_paciente" name="endereco_paciente" pattern="^[a-z A-Z0-9]{10,90}$"  >
      
  </div>
      
      
  <div class="col">
      
        <label for="contato_telefonico" class="form-label m-0"><small>Contato Telefonico </small></label>
        <input value="{{caso.contato_telefonico}}" type="text" class="form-control form-control-sm" id="contato_telefonico" placeholder="(00)00000-0000" name="contato_telefonico" >
      
  </div>
      
      
  <div class="col">
      
        <label for="cpf_paciente" class="form-label m-0"><small>CPF</small></label>
        <input value="{{caso.cpf_paciente}}" type="text" class="form-control form-control-sm" id="cpf_paciente" placeholder="000.000.000-00" name="cpf_paciente" >
      
  </div>
      
</div>
<div class="row">
      
  <div class="col">
      
        <label for="cns_paciente" class="form-label m-0"><small>CNS</small></label>
        <input value="{{caso.cns_paciente}}" type="text" class="form-control form-control-sm" id="cns_paciente" placeholder="000.0000.0000.0000" name="cns_paciente" >
      
  </div>
      
</div>