
<div class="row">
      
  <div class="col">
      
        <label for="data_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Data do Acidente </small></label>
        <input type="date" value="{{caso.data_acidente|date:'Y-m-d'}}" class="form-control form-control-sm" id="data_acidente" name="data_acidente" required  >      
      
  </div>
  <div class="col">      
      <label for="periodo_dia" class="form-label m-0"><spam style="color:red;">*</spam><small>Período do Dia </small></label>
      <div class="radio-container" id="periodo_dia" required >
        {% if caso.periodo_dia == 'Manha ' %}
        <input type="radio" name="periodo_dia" id="periodo_dia-manha" value="Manha " checked required>
        {% else %}
        <input type="radio" name="periodo_dia" id="periodo_dia-manha" value="Manha " required>
        {% endif %}
        <label class="radio-label" for="periodo_dia-manha">Manhã </label>
        {% if caso.periodo_dia == 'Tarde ' %}
        <input type="radio" name="periodo_dia" id="periodo_dia-tarde" value="Tarde " checked required>
        {% else %}
        <input type="radio" name="periodo_dia" id="periodo_dia-tarde" value="Tarde " required>
        {% endif %}
        <label class="radio-label" for="periodo_dia-tarde">Tarde </label>
        {% if caso.periodo_dia == 'Noite ' %}
        <input type="radio" name="periodo_dia" id="periodo_dia-noite" value="Noite " checked required>
        {% else %}
        <input type="radio" name="periodo_dia" id="periodo_dia-noite" value="Noite " required>
        {% endif %}
        <label class="radio-label" for="periodo_dia-noite">Noite </label>
      </div>      
      
  </div>
  <div class="col">
    <label for="que_dia_semana_ocorreu_acidente" class="form-label m-0"><small>Em Que Dia da Semana Ocorreu o Acidente </small></label>
    <input value="{{caso.que_dia_semana_ocorreu_acidente}}" class="form-control form-control-sm" id="que_dia_semana_ocorreu_acidente" name="que_dia_semana_ocorreu_acidente" value="" readonly>            
  </div>
</div>
<div class="row">      
      
  <div class="col">
      
      <label for="acidente_ocorreu_dia_feriado" class="form-label m-0"><spam style="color:red;">*</spam><small>O Acidente Ocorreu em Dia de Feriado </small></label>
      <div class="radio-container" id="acidente_ocorreu_dia_feriado" required >
        {% if caso.acidente_ocorreu_dia_feriado == 'Sim ' %}
        <input type="radio" name="acidente_ocorreu_dia_feriado" id="acidente_ocorreu_dia_feriado-sim" value="Sim " checked>
        {% else %}
        <input type="radio" name="acidente_ocorreu_dia_feriado" id="acidente_ocorreu_dia_feriado-sim" value="Sim ">
        {% endif %}
        <label class="radio-label" for="acidente_ocorreu_dia_feriado-sim">Sim </label>
        {% if caso.acidente_ocorreu_dia_feriado == 'Não ' %}
        <input type="radio" name="acidente_ocorreu_dia_feriado" id="acidente_ocorreu_dia_feriado-não" value="Não " checked>
        {% else %}
        <input type="radio" name="acidente_ocorreu_dia_feriado" id="acidente_ocorreu_dia_feriado-não" value="Não ">
        {% endif %}
        <label class="radio-label" for="acidente_ocorreu_dia_feriado-não">Não </label>
      </div>      
      
  </div>
      

      
  <div class="col">
      
      <label for="municipio_ocorrencia_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Município de Ocorrência do Acidente </small></label>
      <select class="select-model" id="municipio_ocorrencia_acidente" name="municipio_ocorrencia_acidente" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" required>
        {% for municipio in municipios %}
        {% if municipio.nome == caso.municipio_ocorrencia_acidente %}
        <option value="{{municipio.nome}}" selected>{{municipio.nome}}</option>
        {% else %}
        <option value="{{municipio.nome}}">{{municipio.nome}}</option>
        {% endif %}
        {% endfor %}
      </select>  
      
  </div>
      
      
  <div class="col">
    <label for="endereco_local_acidente" class="form-label m-0"><small>Endereço do Local do Acidente </small></label>
    <input type="text" value="{{caso.endereco_local_acidente}}" class="form-control form-control-sm" id="endereco_local_acidente" name="endereco_local_acidente" pattern="^[a-z A-Z0-9\\u00C0-\\u00FF]{10,90}$" onkeypress="return limitcarc(event, 'letr_acent_num')" >
    <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres.</div>
  </div>
</div>
<div class="row">    
      
  <div class="col">
      
      <label for="tipo_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Tipo do Acidente </small></label>
      <select class="select-model" id="tipo_acidente" name="tipo_acidente" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" required >
        {% if caso.tipo_acidente == 'abalroamento' %}
        <option value="abalroamento" selected>Abalroamento </option>
        {% else %}
        <option value="abalroamento">Abalroamento </option>
        {% endif %}
        {% if caso.tipo_acidente == 'atropelamento' %}
        <option value="atropelamento" selected>Atropelamento </option>
        {% else %}
        <option value="atropelamento">Atropelamento </option>
        {% endif %}
        {% if caso.tipo_acidente == 'capotamento' %}
        <option value="capotamento" selected>Capotamento </option>
        {% else %}
        <option value="capotamento">Capotamento </option>
        {% endif %}
        {% if caso.tipo_acidente == 'queda_moto' %}
        <option value="queda_moto" selected>Queda de Moto </option>
        {% else %}
        <option value="queda_moto">Queda de Moto </option>
        {% endif %}
        {% if caso.tipo_acidente == 'colisao_choque_' %}
        <option value="colisao_choque_" selected>Colisão/Choque</option>
        {% else %}
        <option value="colisao_choque_">Colisão/Choque</option>
        {% endif %}
        {% if caso.tipo_acidente == 'outros' %}
        <option value="outros" selected>Outros </option>
        {% else %}
        <option value="outros">Outros </option>
        {% endif %}
      </select>        
      
  </div>
      
      
  <div class="col">
      
      <label for="tipos_veiculos_envolvidos_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Tipos de Veículos Envolvidos no Acidente</small></label>
      <select multiple class="select-model" id="tipos_veiculos_envolvidos_acidente" name="tipos_veiculos_envolvidos_acidente" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" required >
        
        {% if 'carro' in caso.tipos_veiculos_envolvidos_acidente %}
        <option value="carro" selected>Carro </option>
        {% else %}
        <option value="carro">Carro </option>
        {% endif %}
        {% if 'caminhao' in caso.tipos_veiculos_envolvidos_acidente %}
        <option value="caminhao" selected>Caminhão</option>
        {% else %}
        <option value="caminhao">Caminhão</option>
        {% endif %}
        {% if 'motocicleta' in caso.tipos_veiculos_envolvidos_acidente %}
        <option value="motocicleta" selected>Motocicleta </option>
        {% else %}
        <option value="motocicleta">Motocicleta </option>
        {% endif %}
        {% if 'motonetas_50cc_' in caso.tipos_veiculos_envolvidos_acidente %}
        <option value="motonetas_50cc_" selected>Motonetas 50cc  </option>
        {% else %}
        <option value="motonetas_50cc_">Motonetas 50cc  </option>
        {% endif %}
        {% if 'bicicletas' in caso.tipos_veiculos_envolvidos_acidente %}
        <option value="bicicletas" selected>Bicicletas </option>
        {% else %}
        <option value="bicicletas">Bicicletas </option>
        {% endif %}
        {% if 'onibus_' in caso.tipos_veiculos_envolvidos_acidente %}
        <option value="onibus_" selected>Ônibus  </option>
        {% else %}
        <option value="onibus_">Ônibus  </option>
        {% endif %}
        {% if 'vans' in caso.tipos_veiculos_envolvidos_acidente %}
        <option value="vans" selected>Vans </option>
        {% else %}
        <option value="vans">Vans </option>
        {% endif %}
        {% if 'outros' in caso.tipos_veiculos_envolvidos_acidente %}
        <option value="outros" selected>Outros </option>
        {% else %}
        <option value="outros">Outros </option>
        {% endif %}
      </select>        
      
  </div>

      
  <div class="col">
      
      <label for="paciente_envolvido_acidente_era" class="form-label m-0"><spam style="color:red;">*</spam><small>O Paciente Envolvido no Acidente Era </small></label>
      <div class="radio-container" id="paciente_envolvido_acidente_era" required >
        {% if caso.paciente_envolvido_acidente_era == 'Pedestre  ' %}
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-pedestre_" value="Pedestre  " checked>
        {% else %}
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-pedestre_" value="Pedestre  ">
        {% endif %}
        <label class="radio-label" for="paciente_envolvido_acidente_era-pedestre_">Pedestre  </label>
        {% if caso.paciente_envolvido_acidente_era == 'Condutor ' %}
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-condutor" value="Condutor " checked>
        {% else %}
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-condutor" value="Condutor ">
        {% endif %}
        <label class="radio-label" for="paciente_envolvido_acidente_era-condutor">Condutor </label>
        {% if caso.paciente_envolvido_acidente_era == 'Passageiro ' %}
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-passageiro" value="Passageiro " checked>
        {% else %}
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-passageiro" value="Passageiro ">
        {% endif %}
        <label class="radio-label" for="paciente_envolvido_acidente_era-passageiro">Passageiro </label>
      </div>      
      
  </div>
      
</div>
<div class="row">     
  <div class="col-md-6">
      
      <label for="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" class="form-label m-0"><spam style="color:red;">*</spam><small>A Vitima Apresenta Sinais de Embriaguez e/ou Consumo de Bebidas Alcoólicas </small></label>
      <div class="radio-container" id="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" required >
        {% if caso.vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas  == 'Sim ' %}
        <input type="radio" name="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" id="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-sim" value="Sim " checked>
        {% else %}
        <input type="radio" name="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" id="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-sim" value="Sim ">
        {% endif %}
        <label class="radio-label" for="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-sim">Sim </label>
        {% if caso.vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas  == 'Nao  ' %}
        <input type="radio" name="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" id="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-nao_" value="Nao  " checked>
        {% else %}
        <input type="radio" name="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" id="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-nao_" value="Nao  ">
        {% endif %}
        <label class="radio-label" for="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-nao_">Não  </label>
      </div>      
      
  </div>
      
</div>