
<div class="row">
      
  <div class="col">      
    <label for="paciente_foi_referenciado_para_outro_hospital" class="form-label m-0"><spam style="color:red;"></spam><small><b>10-Paciente Foi Referenciado Para Outro Hospital </b></small></label>
    <div class="radio-container" id="paciente_foi_referenciado_para_outro_hospital" required >
      {% if caso.paciente_foi_referenciado_para_outro_hospital == 'Sim' %}
      <input type="radio" name="paciente_foi_referenciado_para_outro_hospital" id="paciente_foi_referenciado_para_outro_hospital-sim_" value="Sim" checked required>
      {% else %}
      <input type="radio" name="paciente_foi_referenciado_para_outro_hospital" id="paciente_foi_referenciado_para_outro_hospital-sim_" value="Sim" required>
      {% endif %}
      <label class="radio-label" for="paciente_foi_referenciado_para_outro_hospital-sim_">Sim</label>
      {% if caso.paciente_foi_referenciado_para_outro_hospital == 'Nao' %}
      <input type="radio" name="paciente_foi_referenciado_para_outro_hospital" id="paciente_foi_referenciado_para_outro_hospital-nao" value="Nao" checked required>
      {% else %}
      <input type="radio" name="paciente_foi_referenciado_para_outro_hospital" id="paciente_foi_referenciado_para_outro_hospital-nao" value="Nao" required>
      {% endif %}
      <label class="radio-label" for="paciente_foi_referenciado_para_outro_hospital-nao">Não </label>
    </div>            
  </div>
      
  <div class="col">
      
    <label for="informacoes_complementares" class="form-label m-0"><small><b>11-Informações Complementares </b></small></label>
    <input type="text" value="{{caso.informacoes_complementares}}" class="form-control form-control-sm" id="informacoes_complementares" name="informacoes_complementares"  onkeypress="return limitcarc(event, 'letr_acent_num')"  pattern="^[a-z A-Z0-9]{10,250}$"  >
    <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 250 Caracteres. Somente Letras e/ou números.</div>  
  </div>
      
</div>
<div class="row">
  {% if caso.paciente_foi_referenciado_para_outro_hospital == 'Sim' %}
  <div class="col" id="col_qual_hospital">
  {% else %}
  <div class="col d-none" id="col_qual_hospital">
  {% endif %}
    <label for="qual_hospital" id="qual_hosp_label" class="form-label m-0"><spam style="color:red;"></spam><small><b>12-Qual o Hospital</b></small></label>
    <select class="select-model" id="qual_hospital" name="qual_hospital" placeholder="Selecione um item" data-search="true" data-silent-initial-value-set="true">
      {% if caso.qual_hospital == 'Outro' %}
      <option value="Outro" selected>Outro</option>
      {% elif caso.qual_hospital == '' or caso.qual_hospital == None %}
      <option value="" selected>Selecione um item</option>
      <option value="Outro">Outro</option>
      {% else %}
      <option value="Outro">Outro</option>
      {% endif %}

      {% for hospital in hospitais %}
      {% if hospital.nome == caso.qual_hospital %}
      <option value="{{hospital.nome}}" selected>{{hospital.nome}}</option>
      {% else %}
      <option value="{{hospital.nome}}">{{hospital.nome}}</option>
      {% endif %}
      {% endfor %}
    </select>  
  </div>
  {% if caso.qual_hospital == 'Outro' %}
  <div class="col" id="outros-info-acid">
  {% else %}
  <div class="col d-none" id="outros-info-acid">      
  {% endif %}
    <label for="qual_hospital_outro" class="form-label m-0"><spam style="color:red;"></spam><small><b>Nome do Hospital</b></small></label>
    <input type="text" value="{{caso.qual_hospital_outro}}" class="form-control form-control-sm" id="qual_hospital_outro" name="qual_hospital_outro" onkeypress="return limitcarc(event, 'letr_acent_num')"  pattern="^[a-z A-Z0-9]{10,90}$"  >
    <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres. Somente letras e/ou números.</div>  
  </div>  
</div>