
<div class="row">
      
  <div class="col">
      
    <label for="houve_vitimas_fatais" class="form-label m-0"><spam style="color:red;"></spam><small><b>25-Houve Óbitos </b></small></label>
      <div class="radio-container" id="houve_vitimas_fatais" required >
        {% if caso.houve_vitimas_fatais == 'Sim' %}
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-sim" value="Sim" checked required>
        {% else %}
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-sim" value="Sim" required>
        {% endif %}
        <label class="radio-label" for="houve_vitimas_fatais-sim">Sim </label>
        {% if caso.houve_vitimas_fatais == 'Não' %}
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-não" value="Não" checked required>
        {% else %}
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-não" value="Não" required>
        {% endif %}
        <label class="radio-label" for="houve_vitimas_fatais-não">Não </label>
      </div>      
      
  </div>
      
  {% if caso.houve_vitimas_fatais == 'Sim' %}
  <div class="col">
  {% else %}
  <div class="col d-none">
  {% endif %}
    <label for="numeros_vitimas_fatais_envolvidas_acidente" class="form-label m-0"><spam style="color:red;"></spam><small><b>26-Número de Óbitos</b></small></label>
      {% if caso.houve_vitimas_fatais == 'Sim' %}
      <select class="select-model" id="numeros_vitimas_fatais_envolvidas_acidente" name="numeros_vitimas_fatais_envolvidas_acidente" placeholder="Selecione um item" data-search="false" data-silent-initial-value-set="true" >
      {% else %}
      <select class="select-model" id="numeros_vitimas_fatais_envolvidas_acidente" name="numeros_vitimas_fatais_envolvidas_acidente" placeholder="Selecione um item" data-search="false" data-silent-initial-value-set="true" disabled>
        <option value="" disabled selected>Selecione um item</option>
      {% endif %}        
        {% if caso. == '1' %}
        <option value="1" selected>1</option>
        {% else %}
        <option value="1">1</option>
        {% endif %}
        {% if caso. == '2' %}
        <option value="2" selected>2</option>
        {% else %}
        <option value="2">2</option>
        {% endif %}
        {% if caso. == '3' %}
        <option value="3" selected>3</option>
        {% else %}
        <option value="3">3</option>
        {% endif %}
        {% if caso. == 'mais' %}
        <option value="mais" selected>Mais</option>
        {% else %}
        <option value="mais">Mais</option>
        {% endif %}
      </select>      
  </div>
      
      
  <div class="col">
      
    <label for="numero_feridos_envolvidos_acidente" class="form-label m-0"><spam style="color:red;"></spam><small><b>27-Número de Feridos</b></small></label>
      <select class="select-model" id="numero_feridos_envolvidos_acidente" name="numero_feridos_envolvidos_acidente" placeholder="Selecione um item" data-search="false" data-silent-initial-value-set="true" required >
        {% if caso.numero_feridos_envolvidos_acidente == '0' %}
        <option value="0" selected>0</option>
        {% else %}
        <option value="0">0</option>
        {% endif %}
        {% if caso.numero_feridos_envolvidos_acidente == '1' %}
        <option value="1" selected>1</option>
        {% else %}
        <option value="1">1</option>
        {% endif %}
        {% if caso.numero_feridos_envolvidos_acidente == '2' %}
        <option value="2" selected>2</option>
        {% else %}
        <option value="2">2</option>
        {% endif %}
        {% if caso.numero_feridos_envolvidos_acidente == '3' %}
        <option value="3" selected>3</option>
        {% else %}
        <option value="3">3</option>
        {% endif %}
        {% if caso.numero_feridos_envolvidos_acidente == 'mais' %}
        <option value="mais" selected>Mais</option>
        {% else %}
        <option value="mais">Mais</option>
        {% endif %}
      </select>        
      
  </div>
      
</div>
<div class="row">      
  <div class="col">
      
    <label for="quadro_lesoes" class="form-label m-0"><spam style="color:red;"></spam><small><b>28-Quadro de Lesões da Vítima</b></small></label>
      <select class="select-model" id="quadro_lesoes" name="quadro_lesoes" placeholder="Selecione um item" data-search="true" data-silent-initial-value-set="true">
        
        {% if caso.quadro_lesoes == '' %}
        <option selected value="">Selecione um item</option>
        {% else %}
        <option value="">Selecione um item</option>
        {% endif %}
        {% if caso.quadro_lesoes == 'leves' %}
        <option selected value="leves">Leves </option>
        {% else %}
        <option value="leves">Leves </option>
        {% endif %}
        {% if caso.quadro_lesoes == 'graves' %}
        <option selected value="graves">Graves </option>
        {% else %}
        <option value="graves">Graves </option>
        {% endif %}
        {% if caso.quadro_lesoes == 'gravissimas_' %}
        <option selected value="gravissimas_">Gravíssimas  </option>
        {% else %}
        <option value="gravissimas_">Gravíssimas  </option>
        {% endif %}
        {% if caso.quadro_lesoes == 'lesao_seguida_morte_' %}
        <option selected value="lesao_seguida_morte_">Lesão Seguida de Morte  </option>
        {% else %}
        <option value="lesao_seguida_morte_">Lesão Seguida de Morte  </option>
        {% endif %}
      </select>  
      
  </div>
      
  <div class="col">
      
    <label for="caso_obito" class="form-label m-0"><small><b>29-Em Caso de Óbito da Vítima</b></small></label>
      <div class="radio-container" id="caso_obito">
      {% if caso.houve_vitimas_fatais == 'Não' %}        
        <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento " disabled>        
        <label class="radio-label" for="caso_obito-obito_encaminhamento">Óbito no Encaminhamento </label>
        
        <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital " disabled>        
        <label class="radio-label" for="caso_obito-obito_hospital">Óbito no Hospital </label>

      {% else %}
        {% if caso.caso_obito == 'Obito no Encaminhamento ' %}
        <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento " checked>
        {% else %}
        <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento ">
        {% endif %}
        <label class="radio-label" for="caso_obito-obito_encaminhamento">Óbito no Encaminhamento </label>
        {% if caso.caso_obito == 'Obito no Hospital ' %}
        <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital " checked>
        {% else %}
        <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital ">
        {% endif %}
        <label class="radio-label" for="caso_obito-obito_hospital">Óbito no Hospital </label>
      {% endif %}
      </div>
      
  </div>
      
</div>