
<div class="row">
      
  <div class="col">
      
    <label for="houve_vitimas_fatais" class="form-label m-0"><spam style="color:red;"></spam><small><b>23-Houve Óbitos </b></small></label>
      <div class="radio-container" id="houve_vitimas_fatais" required >
        {% if caso.houve_vitimas_fatais == 'Sim' %}
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-sim" value="Sim" checked required>
        {% else %}
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-sim" value="Sim" required>
        {% endif %}
        <label class="radio-label" for="houve_vitimas_fatais-sim">Sim </label>
        {% if caso.houve_vitimas_fatais == 'Não' %}
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-não" value="Não" checked required>
        {% else %}
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-não" value="Não" required>
        {% endif %}
        <label class="radio-label" for="houve_vitimas_fatais-não">Não </label>
      </div>      
      
  </div>
  {% if caso.houve_vitimas_fatais == 'Sim' %}
  <div class="col">
  {% else %}
  <div class="col d-none">
  {% endif %}
    <label for="caso_obito" class="form-label m-0"><spam style="color:red;"></spam><small><b>O Óbito Ocorreu</b></small></label>
    <div class="radio-container" id="caso_obito">
    {% if caso.houve_vitimas_fatais == 'Não' %}        
      <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento " disabled>        
      <label class="radio-label" for="caso_obito-obito_encaminhamento">No Encaminhamento </label>
      
      <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital " disabled>        
      <label class="radio-label" for="caso_obito-obito_hospital">No Hospital </label>

    {% else %}
      {% if caso.caso_obito == 'Obito no Encaminhamento ' %}
      <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento " checked>
      {% else %}
      <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento ">
      {% endif %}
      <label class="radio-label" for="caso_obito-obito_encaminhamento">No Encaminhamento </label>
      {% if caso.caso_obito == 'Obito no Hospital ' %}
      <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital " checked>
      {% else %}
      <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital ">
      {% endif %}
      <label class="radio-label" for="caso_obito-obito_hospital">No Hospital </label>
    {% endif %}
    </div>    
  </div>
      
  {% if caso.houve_vitimas_fatais == 'Sim' %}
  <div class="col">
  {% else %}
  <div class="col d-none">
  {% endif %}
    <!--<label for="numeros_vitimas_fatais_envolvidas_acidente" class="form-label m-0"><spam style="color:red;"></spam><small><b>27-Número de Óbitos</b></small></label>-->
      {% if caso.houve_vitimas_fatais == 'Sim' %}
      <!--<input type="number" class="form-control form-control-sm" id="numeros_vitimas_fatais_envolvidas_acidente" name="numeros_vitimas_fatais_envolvidas_acidente" min="1" value="{{caso.numeros_vitimas_fatais_envolvidas_acidente}}">-->
      {% else %}
      <!--<input type="number" class="form-control form-control-sm" id="numeros_vitimas_fatais_envolvidas_acidente" name="numeros_vitimas_fatais_envolvidas_acidente" min="1">-->
      {% endif %}
  </div>
</div>

<div class="row">      
  <div class="col">
      
    <label for="quadro_lesoes" class="form-label m-0"><spam style="color:red;"></spam><small><b>24-Quadro de Lesões da Vítima</b></small></label>
      <select class="select-model" id="quadro_lesoes" name="quadro_lesoes" placeholder="Selecione um item" data-search="true" data-silent-initial-value-set="true">
        
        {% if caso.quadro_lesoes == '' %}
        <option selected value="">Selecione um item</option>
        {% else %}
        <option value="">Selecione um item</option>
        {% endif %}
        {% if caso.quadro_lesoes == 'leves' %}
        <option selected value="leves">Leve </option>
        {% else %}
        <option value="leves">Leves </option>
        {% endif %}
        {% if caso.quadro_lesoes == 'graves' %}
        <option selected value="graves">Grave </option>
        {% else %}
        <option value="graves">Graves </option>
        {% endif %}
        {% if caso.quadro_lesoes == 'gravissimas_' %}
        <option selected value="gravissimas_">Gravíssima  </option>
        {% else %}
        <option value="gravissimas_">Gravíssima  </option>
        {% endif %}
        {% if caso.quadro_lesoes == 'lesao_seguida_morte_' %}
        <!--<option selected value="lesao_seguida_morte_">Lesão Seguida de Morte  </option>-->
        {% else %}
        <!--<option value="lesao_seguida_morte_">Lesão Seguida de Morte  </option>-->
        {% endif %}
      </select>  
      
  </div>
      
  <div class="col">
    <!--  
    <label for="numero_feridos_envolvidos_acidente" class="form-label m-0"><spam style="color:red;"></spam><small><b>29-Número de Feridos</b></small></label>
    <input type="number" class="form-control form-control-sm" id="numero_feridos_envolvidos_acidente" name="numero_feridos_envolvidos_acidente" min="1" value="{{caso.numero_feridos_envolvidos_acidente}}">
    -->
  </div>
      
</div>