
<div class="row">
  <div class="col">      
    <label for="nome_instituicao_hospital" class="form-label m-0"><small><b>Nome da Instituição/Hospital</b></small></label>
    <select class="select-model" id="nome_instituicao_hospital" name="nome_instituicao_hospital" placeholder="Selecione um item" data-search="true" data-silent-initial-value-set="true">
      <option value="" disabled>Selecione um item</option>
      {% if caso.nome_instituicao_hospital == 'Outro' %}
      <option value="Outro" selected>Outro</option>
      {% else %}
      <option value="Outro">Outro</option>
      {% endif %}
      {% for hospital in hospitais %}
      {% if hospital.nome == caso.nome_instituicao_hospital %}
      <option value="{{hospital.nome}}" selected>{{hospital.nome}}</option>
      {% else %}
      <option value="{{hospital.nome}}">{{hospital.nome}}</option>
      {% endif %}
      {% endfor %}      
    </select>    
  </div>
  <div class="col">      
    <label for="cargo_funcao_notificador" class="form-label m-0"><spam style="color:red;"></spam><small><b>Cargo/Função do Notificador</b></small></label>
    <input value="{{caso.cargo_funcao_notificador}}" type="text" class="form-control form-control-sm" id="cargo_funcao_notificador" name="cargo_funcao_notificador" required  >      
  </div>              
</div>

<div class="row">  
  <div class="col">      
    <label for="nome_responsavel_pela_digitacao" class="form-label m-0"><spam style="color:red;"></spam><small><b>Nome do Responsável Pela Digitação </b></small></label>
    <input value="{{caso.nome_responsavel_pela_digitacao}}" type="text" class="form-control form-control-sm" id="nome_responsavel_pela_digitacao" name="nome_responsavel_pela_digitacao" pattern="^[a-z A-Z\u00C0-\u00FF]{10,90}$" onkeypress="return limitcarc(event,'letr_acent')" required  > 
    <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres.</div>           
  </div>      
  <div class="col">      
    <label for="contato_notificador" class="form-label m-0"><spam style="color:red;"></spam><small><b>Contato do Notificador </b></small></label>
    <input value="{{caso.contato_notificador}}" type="text" class="form-control form-control-sm" id="contato_notificador" placeholder="(00)00000-0000" name="contato_notificador" required  >          
  </div>      
</div>
{% if caso.nome_instituicao_hospital == 'Outro' %}
<div class="row" id="outros-un">
{% else %}
<div class="row d-none" id="outros-un">
{% endif %}
  <div class="col">      
    <label for="nome_instituicao_outro" class="form-label m-0"><spam style="color:red;"></spam><small><b>Nome da Instituição </b></small></label>
    <input value="{{caso.nome_instituicao_outro}}" type="text" class="form-control form-control-sm" id="nome_instituicao_outro" name="nome_instituicao_outro" pattern="^[a-z A-Z\u00C0-\u00FF]{10,90}$" onkeypress="return limitcarc(event,'letr_acent')" > 
    <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres.</div>           
  </div>  
</div>