{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SISGEVS - Sistema de Informação em Saúde da GEVS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://code.highcharts.com/highcharts.src.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

  <style>
  .fakeimg {
    height: 500px;
    background: #aaa;
  }
</style>

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: ;
  padding: 1px;
  text-align: center;
  font-size: 35px;
  color: black;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
  background: #e6e6e6;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: ;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>

<link rel="shortcut icon" href="https://docs.google.com/uc?id=1h8jgyPDlDWWinD_VP50nqKXnmdCHEKH3" type="image/x-icon" />




</head>
<body>

  <nav class="navbar navbar-expand-sm bg-info navbar-light" style="background-color: #e6e6e6;">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
  </nav>
  <header>
    <div class="" style="background-color: #e6e6e6;">
      <div class="row">

        <div class="col-sm-3">
        <!--
        <img src="https://docs.google.com/uc?id=1gDXBrx2Nq6k_Whfk6E4IpkvcyDypJPxY" alt="" width="50%">
      -->
    </div>
    <div class="col-sm-4" style="margin-top: 10px; text-align: center;">
      <h4>SECRETARIA DE ESTADO DA SAÚDE</h4>
      <h6>SISGEVS - Sistema de Informação em Saúde da GEVS</h6>
      <h6><b>----</b></h6>
    </div>
    <div class="col-sm-3">
      <img src="{% static "sisgevs/nova-marca-governo-01.png" %}" alt="" width="50%">
        <!--
        <img src="https://docs.google.com/uc?id=1tLThSsCUOFKg-1fphY-Y9hrC_XFnHdOr" alt="" width="50%">
      -->
    </div>
  </div>
</div>
</header>

<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Localizar Notificação</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/localizar_paciente_nome/">Nome Paciente</a>
          <a class="dropdown-item" href="/localizar_paciente_cpf/">CPF</a>
          <a class="dropdown-item" href="/localizar_paciente_phone/">Telefone</a></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Acompanhar Resultados</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Por Unidade</a>
            <a class="dropdown-item" href="#">Por Macro</a>
            <a class="dropdown-item" href="#">Por Gerência</a></div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Sair</a>
          </li>    
        </ul>
      </div>
      
    </nav>
    <section>

      <nav>
        
        <ul>
          <li>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="collapse" data-target="#demo">Usuário Gevs</button>
          </li>
        </ul>
        <ul>
          <div id="demo" class="collapse show">
            <li style="color: #0066ff;">{{user.cpf}}</li>
            <li style="color: #0066ff;">{{user.municipio}}</li>
          <hr>
            <li><a href="#">Notificações</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          <hr>
            <li><a href="/my_datas/">Meus Dados</a></li>
            <li><a href="#"></a></li>
          <hr>
            <li><a href="/download_ficha/" download>Imprimir Ficha</a></li>
            <li><a href="#"></a></li>
          <hr>
            <li><a href="/logout/">Sair</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>          
          </div>
        </ul>
          
      </nav>


      <article>

        <div class="container" style="margin-left: 0;" id="container">

          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-primary" style="text-align: center;">
                <strong style="align-items: center;">Formulários</strong>
              </div>
            </div>
          </div>

          
           <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <a href="/caso_esporotricose_create/" style="text-decoration: none;"><button type="button" class="btn btn-outline-warning btn-lg btn-block">Esporotricose Humana</button></a>
            </div>
            <div class="col-sm-4"></div>
           </div>
           <br>
           <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <a href="" style="text-decoration: none;"><button type="button" class="btn btn-outline-success btn-lg btn-block">Dengue</button></a>
            </div>
            <div class="col-sm-4"></div>
           </div>
           <br>
           <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <a href="" style="text-decoration: none;"><button type="button" class="btn btn-outline-info btn-lg btn-block">Chiconguya</button></a>
            </div>
            <div class="col-sm-4"></div>
           </div>
           <br>
           <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <a href="" style="text-decoration: none;"><button type="button" class="btn btn-outline-secondary btn-lg btn-block">Zika</button></a>
            </div>
            <div class="col-sm-4"></div>
           </div>
          

        </div>


      </article>


    </section>

    <br><br>


    <div class="jumbotron text-center" style="margin-bottom:0">
      <p>Footer</p>
      <i class="fa">&#xf1f9;</i>
    </div>
    <br>

  </body>
  </html>
