{% extends 'caso_esporotricose_create.html' %}
{% load static %}

{% block endbody %}
<script>
  document.getElementById('dt_primeiros_s').value = '{{form.data_primeiros_sintomas}}'
  document.getElementById('datanotificacao').value = '{{form.data_notificacao}}'
  $(document).ready(() => {
    $.ajax({
      url: '{% url "ajax_load_unidadesaude" %}',
      data: { 'municipio_id': '{{form.municipio}}' },
      success: function(data) {
        $("#unidade_saude_id").html(data)
        for (let option in $("#unidade_saude_id").find("option").val()) {
          console.log(option)
        }
      }
    });
  })

  verificarNotifGeral()
</script>
{% endblock endbody %}