{% extends 'base1.html' %}
{% load static %}



{% block content %}
    <div class="alert alert-primary text-center mt-3">
        <h1 class="fs-2">Criar Perfil Municipal</h1>
    </div>
    <!-- MENSAGEM DE CADASTRO REALIZADO |HIDDEN| -->
    <div class="success" hidden>
        <div class="row">
            <div class="col">
                <div class="alert alert-success" style="text-align: center;">
                    <strong style="align-items: center;">Cadastro realizado com successo!</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    <p style="text-align: center;"><strong>Dados de acesso:</strong></p>
                    <h6 style="padding-left: 37%;"><strong>Login:</strong><input style="background: none; border: none;"
                            type="text" id="response_login" disabled></h6>
                    <h6 style="padding-left: 37%;"><strong>Senha:</strong><input style="background: none; border: none;"
                            type="text" id="response_senha" disabled></h6>
                </div>
            </div>
        </div>
    </div>

    <i class="row px-3 py-2">* Inserir os dados de quem utilizará o perfil
        municipal.</i>
    <!-- CONTEUDO DO FORMULÁRIO -->
    <form action="">
        <div class="row">
            <!-- NOME -->
            <div class="col-md-6">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Nome</span>
                    </div>
                    <input style="text-transform: uppercase"
                        onkeyup="verificarCampos()" type="text" class="form-control" name="nome_municipal"
                        placeholder="Nome Completo" id="nome" required><i hidden id="nome_check"
                        style="color:rgb(0, 196, 0); align-self: center; margin-left: 5px;"><strong>&check;</strong></i>
                </div>
            </div>
            <!-- EMAIL -->
            <div class="col-md-6">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Email</span>
                    </div>
                    <input onkeyup="validacaoEmail()" type="email" class="form-control" name="email" id="email" placeholder="exemplo@email.com" required><i hidden id="email_check" style="color:rgb(0, 196, 0); align-self: center; margin-left: 5px;"><strong>&check;</strong></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">CPF</span>
                    </div>
                    <input onkeyup="verificarCampos()" type="text"
                        class="form-control cpf" name="cpf" id="cpf" placeholder="Apenas números" required><i hidden
                        id="cpf_check"
                        style="color:rgb(0, 196, 0); align-self: center; margin-left: 5px;"><strong>&check;</strong></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Celular</span>
                    </div>
                    <input onkeyup="verificarCampos()" type="text"
                        class="form-control telefone" name="celular" placeholder="Apenas números" id="celular" required><i hidden
                        id="celular_check"
                        style="color:rgb(0, 196, 0); align-self: center; margin-left: 5px;"><strong>&check;</strong></i>
                </div>
            </div>
            <!-- LOGIN -->
            <div class="col-md-4">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Login</span>
                    </div>
                    <input required placeholder="Login de acesso" id="login" type="text" class="form-control"
                        aria-label="Default" name="login" aria-describedby="inputGroup-sizing-default"><i hidden
                        id="login_uncheck"
                        style="color:rgb(196, 0, 0); align-self: center; margin-left: 5px; margin-right: 5px;"><strong>&cross;</strong></i><i
                        hidden id="login_check"
                        style="color:rgb(0, 196, 0); align-self: center; margin-left: 5px; margin-right: 5px;"><strong>&check;</strong></i>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- PERFIL -->
            <div class="col-md-3">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Perfil</span>
                    </div>
                    <input type="text" class="form-control" name="perfil" value="municipal" id="perfil" disabled
                        required>
                </div>
            </div>
            <!-- MUNICIPIO -->
            <div class="col-md-4">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Município</span>
                    </div>
                    <select onclick="verificarCampos()" name="municipio" id="municipio" class="form-select form-control"
                        required>
                        {% for municipio in municipios %}
                        {% if municipio.nome == 'João Pessoa' %}
                        <option value="{{municipio.id}}" id="" selected>{{municipio.nome}}</option>
                        {% else %}
                        <option value="{{municipio.id}}">{{municipio.nome}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- GERENCIA -->
            <div class="col-md-5">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Gerencia</span>
                    </div>
                    <select onclick="verificarCampos()" name="gerencia" id="gerencial_regional"
                        class="form-select form-control" required disabled>
                        {% for municipio in municipios %}
                        {% if municipio.nome == 'João Pessoa' %}
                        <option class="option" value="{{municipio.id}}" selected>{{municipio.gerencia}}</option>
                        {% else %}
                        <option class="option" value="{{municipio.id}}">{{municipio.gerencia}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- GERENCIA OPERACIONAL -->
            <div class="col-md-4">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Gerencia Operacional</span>
                    </div>
                    <select onclick="verificarCampos()" name="gerencia_operacional" id="gerencia_operacional"
                        class="form-select form-control" required>
                        <option value="g_o_v">Vigilancia</option>
                        <option value="g_o_ASVDNT">Análise em Saúde e Vigilância de Doenças Não Transmissíveis</option>
                        <option value="g_o_SA">Saúde Ambiental</option>
                        <option value="g_o_CCI">Condições Crônicas e IST</option>
                    </select>
                </div>
            </div>
            <!-- NUCLEO -->
            <div class="col-md-4">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Núcleo</span>
                    </div>
                    <select onclick="verificarCampos()" name="nucleo" id="nucleo" class="form-select form-control"
                        required>
                        <option value="nucleo_a">Núcleo A</option>
                        <option value="nucleo_b">Núcleo B</option>
                        <option value="nucleo_c">Núcleo C</option>
                    </select>
                </div>
            </div>
            <!-- AREA TECNICA -->
            <div class="col-md-4">
                <div class="input-group mb-3" id="">
                    <div class="input-group-prepend" id="">
                        <span class="input-group-text">Área Técnica</span>
                    </div>
                    <select onclick="verificarCampos()" name="area_tecnica" id="area_tecnica"
                        class="form-select form-control" required>
                        <option value="area_tecnica1">Área Técnica 1</option>
                        <option value="area_tecnica2">Área Técnica 2</option>
                        <option value="area_tecnica3">Área Técnica 3</option>
                        <option value="area_tecnica4">Área Técnica 4</option>
                        <option value="area_tecnica5">Área Técnica 5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col py-4 text-center">
                <button type="button" class="btn btn-secondary text-center" id="cadastrar" disabled>Cadastrar Perfil
                    Municipal</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block endbody %}
<script src="{% static 'js/criar_perfil_municipal.js' %}"></script>
{% endblock endbody %}