{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://docs.google.com/uc?id=1h8jgyPDlDWWinD_VP50nqKXnmdCHEKH3" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/ficha_caso_esporotricose.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <title>SISGEVS - Ficha Esporotricose Humana</title>
</head>
<body>
    <div class="pagina">
        <div id="botao" class="row text-center">
            <div class="col">
                <button class="btn btn-primary" type="button" id="salvar_imprimir">Salvar ou Imprimir</button>
            </div>
        </div>
        <div class="header">
            <div class="row" style="border-bottom: 1px solid black;">
                <div class="col-3">
                    <img src="{% static 'sisgevs/nova-marca-governo-01.png' %}" alt="Logo Nao consigo entender">
                </div>
                <div class="col-6 text-center">
                    <h1 style="font-size:14px; font-weight: bold; margin-top: 4%;">GOVERNO DO ESTADO DA PARAÍBA</h1>
                    <h2 style="font-size:12px; font-weight: bold; margin: 0;">SECRETARIA ESTADUAL DE SAÚDE</h2>                    
                </div>
                <div class="col-3">
                    <img src="{% static 'sisgevs/secretaria-da-saude.jfif' %}" alt="Logo SUS">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-9">
                    <h4 style="font-size:14px; font-weight: bold; margin-left: 12rem;">FICHA DE INVESTIGAÇÃO DE ESPOROTRICOSE HUMANA</h1>
                </div>
                <div class="col-3">
                    <input style="width: 150px;" type="text" value="N°:" id="numero-ficha">
                </div>
            </div>
            <div class="row caso-suspeito">
                <p>CASO SUSPEITO: INDIVÍDUO QUE APRESENTE LESÕES NA PELE, QUE SE INICIAM COMO UMA PEQUENA PÁPULA, QUE PODEM
                    EVOLUIR PARA UMA FORMA ULCERADA, COM OU SEM SECREÇÃO SEROPURULENTA, DISPOSTAS OU NÃO EM FILEIRA, COM 
                    HISTÓRIA EPIDEMIOLÓGICA DE TRAUMA CUTÂNEO POR MATERIAL DE ORIGEM VEGETAL POTENCIALMENTE CONTAMINADO
                    COM FUNGO OU ARRANHADURA/ MORDEDURA POR GATOS OU CONTATO COM FERIDAS DESSES ANIMAIS.</p>
            </div>
        </div>
        <div class="content">
            <!-- LINHA -->
            <div class="barra dados_gerais">Dados Gerais</div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="col-4">
                    <label>Tipo de Notificação</label>
                    <input type="text">
                </div>
                <div class="col-8">
                    <label>Individual</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-6 arredondado">
                    <label>Agravo/Doença</label>
                    <input type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Código (CID-10)</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Data da Notificação</label>
                    <input id="data_notificacao" class="data" type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-1 arredondado">
                    <label>UF</label>
                    <input type="text">
                    <!--
                    <select style="width: 130%; margin-left: -5px;" name="" id="">
                        {% include 'options/tp_uf.html' %}
                    </select>
                -->
                </div>
                <div class="col-7 arredondado">
                    <label>Município de Notificação</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Código IBGE</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-6 arredondado">
                    <label>Unidade de Saúde</label>
                    <input type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Código</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Data dos Primeiros Sintomas</label>
                    <input id="data_sintomas" onchange="limitandoData(this)" class="data" type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="barra notificacao_individual">Notificação Individual</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-8 arredondado">
                    <label>Nome do Paciente (Sem Abreviações)</label>
                    <input onkeypress="return limitcarc(event, 'letr_acent')" type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Data de Nascimento</label>
                    <input onchange="idade('idade', this)" id="data_nascimento" class="data" type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-1 arredondado">
                    <label>Idade</label>
                    <input id="idade" type="text">
                </div>
                <div class="col-3 arredondado" style="background-color: ;">
                    

                    <div class="col" style="display:; background-color: ;">
                        <label style="background-color: ;">Sexo</label>
                        <input style="width: 22px; height: 22px; margin:5px;margin-left: 40px;" type="checkbox" disabled>                        
                    </div>

                    <label style="font-size: 60%;">1 - Masculino 2 - Feminino</label>
                    
                    
                </div>
                <div class="col-8 arredondado">
                    
                    <div class="col" style="display:; background-color: ;">
                        <label style="background-color: ;">Gestante</label>
                        <input style="width: 22px; height: 22px; margin:5px;margin-left: 40px;" type="checkbox" disabled>                        
                    </div>

                    <label style="font-size: 60%;"><b style="font-size: 120%">1</b> - 1° Trimestre</label>
                    <label style="font-size: 60%;"><b style="font-size: 120%">2</b> - 2° Trimestre</label>
                    <label style="font-size: 60%;"><b style="font-size: 120%">3</b> - 3° Trimestre</label>
                    <label style="font-size: 60%;"><b style="font-size: 120%">4</b> - Idade Gestacional Ignorada</label>
                    <label style="font-size: 60%;"><b style="font-size: 120%">5</b> - Não</label>
                    <label style="font-size: 60%;"><b style="font-size: 120%">6</b> - Não se Aplica</label>
                    <label style="font-size: 60%;"><b style="font-size: 120%">9</b> - Ignorado</label>

                </div>
                
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-12 arredondado">
                    <div class="col" style="display:; background-color: ;">
                        <label style="background-color: ;">RAÇA/COR</label>
                        <input style="width: 22px; height: 22px; margin:5px;margin-left: 40px;" type="checkbox" disabled>

                        <label style="font-size: 60%;">1 - BRANCA</label>
                    <label style="font-size: 60%;margin-left: 7px;">2 - PRETA</label>
                    <label style="font-size: 60%;margin-left: 7px;">3 - AMARELA</label>
                    <label style="font-size: 60%;margin-left: 7px;">4 - PARDA</label>
                    <label style="font-size: 60%;margin-left: 7px;">5 - INDÍGENA</label>
                    <label style="font-size: 60%;margin-left: 7px;">9 - Ignorado</label>

                    </div>

                    
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col py-2 arredondado">
                    <div class="col" style="display:; background-color: ;">
                        <label style="background-color: ;">ESCOLARIDADE</label>
                        <input style="width: 22px; height: 22px; margin:5px;margin-left: 40px;" type="checkbox" disabled>

                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">0</b> - Analfabeto</label>
                    <label style="font-size: 60%;margin-left: 30px;"><b style="font-weight: bold; font-size: 120%">1</b> - 1ª a 4ª Série Incompleta do EF(antigo primário ou 1º grau)</label>
                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">2</b> - 4ª Série completa do EF(antigo primário ou 1º grau)</label>
                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">3</b> - 5ª a 8ª Série Incompleta do EF(antigo ginásio ou 1º grau)</label>
                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">4</b> - Ensino Fundamental(antigo ginásio ou 1º grau)</label>
                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">5</b> - Ensino Médio Incompleto(antigo colegial ou 2º grau)</label>
                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">6</b> - Ensino Médio completo(antigo colegial ou 2º grau)</label>
                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">7</b> - Educação Superior Incompleta</label>
                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">8</b> - Educação Superior completa</label>
                    <label style="font-size: 60%;margin-left: 7px;"><b style="font-weight: bold; font-size: 120%">9</b> - Ignorado</label>

                    </div>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado">
                    <label>Numero do Cartao SUS</label>
                    <input onkeypress = "return limitcarc(event, 'num')" type="text">
                </div>
                <div class="col arredondado">
                    <label>Nome da Mãe</label>
                    <input onkeypress = "return limitcarc(event, 'letr_acent')" type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="barra dados_residencia">Dados de Residência</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-3 arredondado">
                    <label>CEP</label>
                    <input id="cep" type="text">
                </div>
                <div class="col-1 arredondado">
                    <label>UF</label>
                    <input id="uf" type="text">
                </div>
                <div class="col-8 arredondado">
                    <label>Município de Residência</label>
                    <input id="cidade" type="text">
                </div>
                
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-3 arredondado">
                    <label>Bairro</label>
                    <input id="bairro" type="text">
                </div>
                <div class="col-7 arredondado">
                    <label>Logradouro</label>
                    <input id="rua" type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Código</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-2 arredondado">
                    <label>Número</label>
                    <input onkeypress = "return limitcarc(event, 'num')" type="text">
                </div>
                <div class="col-7 arredondado">
                    <label>Complemento</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Distrito</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-2 arredondado">
                    <label>Geo Campo 1</label>
                    <input type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Geo Campo 2</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Ponto de Referência</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Código IBGE</label>
                    <input id="ibge" type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-4 arredondado">
                    <label>(DDD) Telefone</label>
                    <input id="fone" type="text">
                </div>
                <div class="col-5 arredondado">
                    
                    <div class="col" style="display:; background-color: ;">
                        <label style="background-color: ;">ZONA</label>
                        <input style="width: 22px; height: 22px; margin:5px;margin-left: 40px;" type="checkbox" disabled>                        
                    </div>

                    <label style="font-size: 70%;">1-URBANA  2-RURAL  3-PERIURBANA  4-IGNORADO</label>

                </div>
                <div class="col-3 arredondado">
                    <label>País (Se residir no exterior)</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="barra antecedentes_epidemiologicos">Antecedentes Epidemiológicos</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado pt-2 text-center"><p>DADOS COMPLEMENTARES DO CASO</p></div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-4 arredondado">
                    <label>Data da Investigação</label>
                    <input class="data" type="text">
                </div>
                <div class="col-8 arredondado">
                    <label>Ocupação</label>
                    <input type="text" >
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado pt-2 text-center"><p>SITUAÇÃO DE RISCO NAS ÚLTIMAS SEMANAS(14 DIAS)</p></div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>Frequentou Ambientes com Mata, Floresta, Rios, Cachoeiras, Sítios, Outros?</label><label style="margin-left: 10px;">1-SIM</label><label style="margin-left: 10px;">2-NÃO</label><label style="margin-left: 10px;">9-IGNORADO</label>
                        
                    </div>
                </div>
                <div class="row" style="padding-left: 10%; width: 150%;">
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Mata</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Floresta</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Rios</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Cachoeiras</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Sítios</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Outros</label>
                    </div>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>TEVE CONTATO COM ANIMAIS?</label>
                        <label style="margin-left: 10px;">1-SIM</label><label style="margin-left: 10px;">2-NÃO</label><label style="margin-left: 10px;">9-IGNORADO</label>
                        
                    </div>
                </div>
                <div class="row" style="padding-left: 10%; width: 150%;">
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>CÃO</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>GATO</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>EQUINOS</label>
                    </div>
                    <div class="col-sm-4" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>OUTROS ANIMAIS</label>
                    </div>
                    
                </div>

            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>Natureza do contato com animais</label>
                        <label style="margin-left: 10px;">1-SIM</label><label style="margin-left: 10px;">2-NÃO</label><label style="margin-left: 10px;">9-IGNORADO</label>
                        <!--<select name="" id="">{% include 'options/tp_simnao.html' %}</select>-->
                        
                    </div>
                </div>
                <div class="row" style="padding-left: 5%; width: 150%; background-color: ;">
                    <div class="col-3.5" style="">
                        <input style="width: 20px; height: 20px; margin-top: ; background-color: ;" type="checkbox" disabled>
                        <label>MORDEDURA</label>
                    </div>
                    <div class="col-2.5" style="">
                        <input style="width: 20px; height: 20px; margin-top: ; margin-left: 10px;" type="checkbox" disabled>
                        <label>Arranhadura</label>
                    </div>
                    <div class="col-2.5">
                        <input style="width: 20px; height: 20px; margin-top: ; margin-left: 8px;" type="checkbox" disabled>
                        <label>Outros Animais</label>
                    </div>
                    <div class="col-3.5">
                        <input style="width: 20px; height: 20px; margin-top: ; margin-left: 7px;" type="checkbox" disabled>
                        <label>Lesões mucosas do animal</label>
                    </div>
                    <div class="col-3.5">
                        <input style="width: 20px; height: 20px; margin-top: ; margin-left: 7px;" type="checkbox" disabled>
                        <label>Lesões cutâneas do animal</label>
                    </div>

                </div>
                
            </div>
            <!-- LINHA -->
            <div class="row arredondado" style="background-color: ;">
                <div class="row" style="padding-left: 2%; background-color: ;">
                    <div class="col">
                        <label>Relação com o animal doente</label>
                        <label style="margin-left: 30px;">1-SIM</label><label style="margin-left: 10px;">2-NÃO</label><label style="margin-left: 10px;">9-IGNORADO</label>
                        <!--<select name="" id="">{% include 'options/tp_simnao.html' %}</select>-->
                    </div>
                </div>
                
                <div class="" style="padding-left: 5%; background-color: ; width: 150%;">
                    <div class="col-3.5" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Tratador/Propietário do Animal</label>
                    </div>
                    <div class="col-5" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Profissional de Saúde(*)</label>
                    </div>
                    <div class="col-3.5" style="display:inline-flex;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Outro</label>
                    </div>
                </div>
                <div class="row text-center" style="padding-left: 3%;">
                    <div class="col" style="display:inline-flex; margin-left: 15px;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Abrigo/ong</label>
                        <div class="col" style="display:inline-flex;">
                            <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                            <label>Lesões cutâneas do animal</label>
                        </div>
                        <label style="font-size: 60%;">(*) Veterinário, enfermeiro, tratador de animal em clínicas</label>
                    </div>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="col-12">
                    <label>
                        Exerce atividade que resulte em contato constante com plantas?
                        (Jardineiros, agricultores, horticultores, exploradores de madeira,
                        trabalhadores ruais)
                        <input style="width: 22px; height: 22px; margin:5px;margin-left: 40px;" type="checkbox" disabled>
                        <label style="margin-left: 20px;">1 - SIM</label>
                        <label style="margin-left: 20px;">2 - NÃO</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>
                    </label>
                </div>
                
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="col-12">
                    <label>
                        História de corte, lesão ou trauma durante o manuseio de plantas 
                        ou material orgânico suspeito de contaminação pelo fungo? (EX:
                        tábuas úmidas de madeira, solo, palhas, farpas, espinhos, vegetais)
                    </label>

                    <div class="col" style="display:; background-color: ;">
                        
                        <input style="width: 22px; height: 22px; margin:5px;margin-left: 40px;" type="checkbox" disabled>

                        <label style="margin-left: 20px;">1 - SIM</label>
                        <label style="margin-left: 20px;">2 - NÃO</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>

                    </div>

                </div>
                
            </div>
            <div class="pagebreaker"></div>
            <!-- LINHA -->
            <div style="margin-top: 5%;"  class="barra dados_clinicos">Dados Clínicos</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado text-center"><p>DADOS COMPLEMENTARES DO CASO</p></div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-5 arredondado" style="padding-left: 5%;">
                    <label>
                        Presença de lesão na pele?
                        <input style="width: 22px; height: 22px; margin:5px;margin-left: 40px;" type="checkbox" disabled>
                    </label>

                    <div class="col" style="display:; background-color: ;">
                        
                       

                        <label style="margin-left: 20px;">1 - SIM</label>
                        <label style="margin-left: 20px;">2 - NÃO</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>


                    </div>
                    
                </div>
                <div class="col-7 arredondado">
                    <div class="row text-center" style="padding-left: 40%; padding-bottom: 2%;">
                        <label>Natureza da Lesão</label>
                    </div>
                    <div class="row text-center" style="padding-left: 2%;">
                        <div class="col-3" style="display:inline-flex;">
                            <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                            <label>pápula</label>
                        </div>
                        <div class="col-3" style="display:inline-flex;">
                            <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                            <label>úlcera</label>
                        </div>
                        <div class="col-3" style="display:inline-flex;">
                            <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                            <label>linfonodos</label>
                        </div>
                        <div class="col-3">
                            <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                            <label>OUTROS</label>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>Localização da lesão (parte do corpo atingida)</label>
                    </div>
                </div>
                <div class="row" style="padding-left: 10%; width: 150%">
                    
                        <div class="col-1.5" style="display:inline-flex; margin-left: -50px;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Mão</label>
                        </div>

                        <div class="col-3" style="display:inline-flex; margin-left: -5px;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Membro superior</label>
                        </div>
                        
                        <div class="col-1.5" style="display:inline-flex; margin-left: ;">    
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>cabeça</label>
                        </div>

                        <div class="col-2" style="display:inline-flex; margin-left: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Pescoço</label>
                        </div>
                        
                        <div class="col-2" style="display:inline-flex; margin-left: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Abdome</label>
                        </div>
                    
                        <div class="col-2" style="display:inline-flex; margin-left: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Tórax</label>
                        </div>

                        <div class="col-1.5" style="display:inline-flex; margin-left: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Pé</label>
                        </div>
                        
                        <div class="col-3" style="display:inline-flex; margin-left: -65px;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Membro inferior</label>

                        </div>
                        
                        <div class="col-3" style="display:inline-flex; margin-left: -10px;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>Todo o corpo</label>
                        </div>

                        <div class="col-1.5" style="display:inline-flex; margin-left: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                        <label>OUTROS</label>
                        </div>
                    
                </div>
            </div>   
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="col-7">
                    <label>
                        Diagnóstico de forma extracutânea da doença?
                    </label>


                </div>
                <div class="col-5 py-2">
                    
                    <div class="col" style="display:; background-color: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>

                        <label style="margin-left: 20px;">1 - SIM</label>
                        <label style="margin-left: 20px;">2 - NÃO</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>
                    </div>

                </div>
                <label style="margin-left: 2%;">Qual Localização?__________________________________________________________</label>
                
            </div>
            <!-- LINHA -->
            <div class="barra dados_laboratoriais">Dados Laboratoriais</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>
                        Houve coleta de material para exame laboratorial?
                    </label>
                    
                    <div class="" style="display:; background-color: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>

                        <label style="margin-left: 20px;">1 - SIM</label>
                        <label style="margin-left: 20px;">2 - NÃO</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>
                    </div>


                </div>
                <div class="col-3 arredondado">
                    <label>Data da coleta</label>
                    <input class="data" type="text">
                </div>
            </div> 
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>
                        Resultado do Isolamento
                    </label>
                    <div class="" style="display:; background-color: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>

                        <label style="margin-left: 20px;">1 - DETECTADO</label>
                        <label style="margin-left: 20px;">2 - NÃO DETECTADO</label>
                        <label style="margin-left: 20px;">3 - INCONCLUSIVO</label>
                        <label style="margin-left: 20px;">4 - NÃO REALIZADO</label>
                    </div>

                </div>
                <div class="col-3 arredondado">
                    <label>Agente</label>
                    <input type="text">
                </div>
            </div> 
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado" style="padding:10px">
                    <label>
                        Histopatologia
                    </label>

                    <div class="" style="display:; background-color: ;">
                        <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>

                        <label style="margin-left: 20px;">1 - DETECTADO</label>
                        <label style="margin-left: 20px;">2 - NÃO COMPATÍVEL</label>
                        <label style="margin-left: 20px;">3 - INCONCLUSIVO</label>
                        <label style="margin-left: 20px;">4 - NÃO REALIZADO</label>
                    </div>


                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <label>Outros Exames realizados</label>
            </div>
            <div class="row">
                <div class="col-3 arredondado">
                    <label>Data</label>
                    <input class="data" type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Descrição</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>Resultado</label>
                    <input type="text">
                </div>
            </div>
            <div class="row arredondado">
                <div class="col-3 arredondado">
                    <label>Data</label>
                    <input class="data" type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Descrição</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>Resultado</label>
                    <input type="text">
                </div>
            </div>
            <div class="row arredondado">
                <div class="col-3 arredondado">
                    <label>Data</label>
                    <input class="data" type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Descrição</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>Resultado</label>
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="barra tratamento">Tratamento</div>
            <!-- Linha -->
            <div class="row">
                <div class="col-4 arredondado">
                    <label>Data de Início do Tratamento</label>
                    <input class="data" type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Droga Administrada</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>Esquema Terapeutico (Dose, Via, Intervalo)</label>
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="row">
                <div class="col-4 arredondado">
                    <label>Ocorreu Hospitalização?</label>
                    <input type="text">
                    <!--<select style="width: 80%; margin-left: 5%;margin-top: 2%;">
                        {% include 'options/tp_simnao.html' %}
                    </select>-->
                </div>
                <div class="col-4 arredondado">
                    <label>Data da Internação</label>
                    <input class="data" type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Data da Alta</label>
                    <input class="data" type="text">
                </div>
                <div class="col-1 arredondado">
                    <label>UF</label>
                    <input type="text">
                    <!--
                    <select style="width: 130%; margin-left: -5px;" name="" id="">
                        {% include 'options/tp_uf.html' %}
                    </select>
                -->
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>Município do Hospital</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Código IBGE</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>Nome do Hospital</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Código</label>
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="barra conclusao">Conclusão</div>
            <!-- Linha -->
            <div class="row">
                <div class="col-6 arredondado" style="padding:5px; padding-left: 5%;">
                    <label style="margin-left: -25px;">Classificação Final</label>
                    <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                    <div class="" style="margin-left: -27px;">                       
                        <label style="margin-left: 20px;">1 - CONFIRMADO</label>
                        <label style="margin-left: 20px;">2 - DESCARTADO</label>
                    </div>

                    
                </div>
                <div class="col-6 arredondado" style="padding:5px; padding-left: 2%;">
                    <label>Critério de confirmação</label>
                    <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                    <div class="" style="display:; background-color: ;">
                        <label style="margin-left: 20px;">1 - CLÍNICO LABORATORIAL</label>
                        <label style="margin-left: 20px;">2 - CLÍNICO EPIDEMIOLÓGICO</label>
                    </div>

                </div>
            </div>
            <!-- Linha -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>Caso Autóctone do Município de Residência?</label>
                    <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                    <div class="" style="display:; background-color: ;">
                        <label style="margin-left: 20px;">1 - SIM</label>
                        <label style="margin-left: 20px;">2 - NÃO</label>
                        <label style="margin-left: 20px;">3 - INDETERMINADO</label>
                    </div>

                </div>
                <div class="col-1 arredondado">
                    <label>UF</label>
                    <input type="text">
                    <!--<select style="width: 130%; margin-left: -5px;" name="" id="">
                        {% include 'options/tp_uf.html' %}
                    </select>-->
                </div>
                <div class="col-2 arredondado">
                    <label>País</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>Município</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Código do IBGE</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-3 arredondado">
                    <label>Distrito</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Bairro</label>
                    <input type="text">
                </div>
                <div class="col-6 arredondado">
                    <label>Área Provável de Infecção</label>
                    <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                    <div class="" style="display:; background-color: ;">
                        <label style="margin-left: 20px;">1 - URBANA</label>
                        <label style="margin-left: 20px;">2 - RURAL</label>
                        <label style="margin-left: 20px;">3 - PERIURBANA</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>
                    </div>

                </div>
            </div>
            <!-- Linha -->
            <div class="row">
                <div class="col-6 arredondado" style="padding:5px; padding-left: 5%;">
                    <label style="margin-left: -30px">Ambiente de Infecção</label>
                    <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                    <div class="" style="display:; background-color: ; margin-left: -30px;">
                        <label style="margin-left: 20px;">1 - DOMICILIAR</label>
                        <label style="margin-left: 20px;">2 - TRABALHO</label>
                        <label style="margin-left: 20px;">3 - LAZER</label>
                        <label style="margin-left: 20px;">4 - OUTRO</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>
                    </div>
                </div>
                <div class="col-6 arredondado" style="padding:5px; padding-left: 5%;">
                    <label style="margin-left: -30px">Doença relacionada ao trabalho?</label>
                    
                    <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                    <div class="" style="display:; background-color: ; margin-left: -30px;">
                        <label style="margin-left: 20px;">1 - SIM</label>
                        <label style="margin-left: 20px;">2 - NÃO</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>
                    </div>
                </div>
            </div>
            <!-- Linha -->
            <div class="row">
                <div class="col-6 arredondado">
                    <label>Evolução do caso</label>
                    
                    <input style="width: 20px; height: 20px; margin:5px;margin-top: 0;" type="checkbox" disabled>
                    <div class="" style="display:; background-color: ; margin-left: ;">
                        <label style="margin-left: 20px;">1 - CURA</label>
                        <label style="margin-left: 20px;">2 - ÓBITO PELO AGRAVO</label>
                        <label style="margin-left: 20px;">3 - ÓBITO OUTRAS CAUSAS</label>
                        <label style="margin-left: 20px;">9 - IGNORADO</label>
                    </div>
                </div>
                <div class="col-3 arredondado">
                    <label>Data do Óbito</label>
                    <input class="data" type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Data de Encerramento</label>
                    <input class="data" type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="barra observacao">Observação</div>
            <!-- Linha -->
            <div class="row pt-3 arredondado">
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="row pt-3 arredondado">
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="row pt-3 arredondado">
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="row pt-3 arredondado">
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="barra investigador">Investigador</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-6 arredondado">
                    <label>Nome</label>
                    <input onkeypress = "return limitcarc(event, 'letr_acent')" type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Função</label>
                    <input type="text" >
                </div>
                <div class="col-3 arredondado">
                    <label>Assinatura</label>
                    <input type="text">
                </div>
            </div>
        </div>
        <hr>
        <div id="botao" class="row text-center">
            <div class="col">
                <button class="btn btn-primary" type="button" id="" onclick="window.print();">Salvar ou Imprimir</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/js.js' %}"></script>
</body>
</html>