{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://docs.google.com/uc?id=1h8jgyPDlDWWinD_VP50nqKXnmdCHEKH3" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/ficha_caso_esporotricose.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <title>SISGEVS - Ficha Esporotricose Humana</title>
</head>
<body>
    <div class="pagina">
        <div id="botao" class="row text-center">
            <div class="col">
                <button class="btn btn-primary" type="button" id="salvar_imprimir">Salvar ou Imprimir</button>
            </div>
        </div>
        <div class="header">
            <div class="row" style="border-bottom: 1px solid black;">
                <div class="col-3">
                    <img src="{% static 'sisgevs/nova-marca-governo-01.png' %}" alt="Logo Nao consigo entender">
                </div>
                <div class="col-6 text-center">
                    <h1 style="font-size:14px; font-weight: bold; margin-top: 4%;">GOVERNO DO ESTADO DA PARAÍBA</h1>
                    <h2 style="font-size:12px; font-weight: bold; margin: 0;">SECRETARIA ESTADUAL DE SAÚDE</h2>
                    <h4 style="font-size:10px; font-weight: bold; margin: 0;">Laboratório Central de Saúde Pública Dr.ª Telma Lobo</h4>
                </div>
                <div class="col-3">
                    <img src="{% static 'sisgevs/secretaria-da-saude.jfif' %}" alt="Logo SUS">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-9">
                    <h4 style="font-size:14px; font-weight: bold; margin-left: 12rem;">FICHA DE INVESTIGAÇÃO DE ESPOROTRICOSE HUMANA</h1>
                </div>
                <div class="col-3">
                    <input style="width: 150px;" type="text" value="N°:" id="numero-ficha">
                </div>
            </div>
            <div class="row caso-suspeito">
                <p>CASO SUSPEITO: INDIVÍDUO QUE APRESENTE LESÕES NA PELE, QUE SE INICIAM COMO UMA PEQUENA PÁPULA, QUE PODEM
                    EVOLUIR PARA UMA FORMA ULCERADA, COM OU SEM SECREÇÃO SEROPURULENTA, DISPOSTAS OU NÃO EM FILEIRA, COM 
                    HISTÓRIA EPIDEMIOLÓGICA DE TRAUMA CUTÂNEO POR MATERIAL DE ORIGEM VEGETAL POTENCIALMENTE CONTAMINADO
                    COM FUNGO OU ARRANHADURA/ MORDEDURA POR GATOS OU CONTATO COM FERIDAS DESSES ANIMAIS.</p>
            </div>
        </div>
        <div class="content">
            <!-- LINHA -->
            <div class="barra dados_gerais">Dados Gerais</div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="col-4">
                    <label>Tipo de Notificação</label>
                    <input type="text">
                </div>
                <div class="col-8">
                    <label>Individual</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-6 arredondado">
                    <label>Agravo/Doença</label>
                    <input type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Código (CID-10)</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Data da Notificação</label>
                    <input id="data_notificacao" class="data" type="date">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-1 arredondado">
                    <label>UF</label>
                    <select style="width: 130%; margin-left: -5px;" name="" id="">
                        {% include 'options/tp_uf.html' %}
                    </select>
                </div>
                <div class="col-7 arredondado">
                    <label>Município de Notificação</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Código IBGE</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-6 arredondado">
                    <label>Unidade de Saude</label>
                    <input type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Código</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Data dos Primeiros Sintomas</label>
                    <input id="data_sintomas" onchange="limitandoData(this)" class="data" type="date">
                </div>
            </div>
            <!-- LINHA -->
            <div class="barra notificacao_individual">Notificação Individual</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-8 arredondado">
                    <label>Nome do Paciente(Sem Abreviações)</label>
                    <input onkeypress="return limitcarc(event, 'letr_acent')" type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Data de Nascimento</label>
                    <input onchange="idade('idade', this)" id="data_nascimento" class="data" type="date">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-1 arredondado">
                    <label>Idade</label>
                    <input id="idade" type="number">
                </div>
                <div class="col-2 arredondado">
                    <label>Sexo</label>
                    <select style="width: 100%;">
                        <option value="" selected>Selecione</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="outro">Outro</option>
                    </select>
                </div>
                <div class="col-5 arredondado">
                    <label>Gestante</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Raça/Cor</label>
                    <select style="width: 100%;" name="" id="">
                        {% include 'options/tp_racacor.html' %}
                    </select>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col py-2 arredondado">
                    <label>Escolaridade</label>
                    <select name="" id="">
                        {% include 'options/tp_escolaridade.html' %}
                    </select>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado">
                    <label>Numero do Cartao SUS</label>
                    <input onkeypress = "return limitcarc(event, 'num')" type="text">
                </div>
                <div class="col arredondado">
                    <label>Nome da Mãe</label>
                    <input onkeypress = "return limitcarc(event, 'letr_acent')" type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="barra dados_residencia">Dados de Residência</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-3 arredondado">
                    <label>CEP</label>
                    <input id="cep" type="text">
                </div>
                <div class="col-1 arredondado">
                    <label>UF</label>
                    <input id="uf" type="text">
                </div>
                <div class="col-8 arredondado">
                    <label>Município de Residência</label>
                    <input id="cidade" type="text">
                </div>
                
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-3 arredondado">
                    <label>Bairro</label>
                    <input id="bairro" type="text">
                </div>
                <div class="col-7 arredondado">
                    <label>Logradouro</label>
                    <input id="rua" type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Código</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-2 arredondado">
                    <label>Número</label>
                    <input onkeypress = "return limitcarc(event, 'num')" type="text">
                </div>
                <div class="col-7 arredondado">
                    <label>Complemento</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Distrito</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-2 arredondado">
                    <label>Geo Campo 1</label>
                    <input type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Geo Campo 2</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Ponto de Referência</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Código IBGE</label>
                    <input id="ibge" type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-5 arredondado">
                    <label>(DDD) Telefone</label>
                    <input id="fone" type="text">
                </div>
                <div class="col-2 arredondado">
                    <label>Zona</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>País (Se residir no exterior)</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="barra antecedentes_epidemiologicos">Antecedentes Epidemiológicos</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado pt-2 text-center"><p>DADOS COMPLEMENTARES DO CASO</p></div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-4 arredondado">
                    <label>Data da Investigação</label>
                    <input class="data" type="date">
                </div>
                <div class="col-8 arredondado">
                    <label>Ocupação</label>
                    <input type="text" >
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado pt-2 text-center"><p>SITUAÇÃO DE RISCO NAS ÚLTIMAS SEMANAS(14 DIAS)</p></div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>Frequentou Ambientes com Mata, Floresta, Rios, Cachoeiras, Sítios, Outros?</label>
                        <select name="" id="">{% include 'options/tp_simnao.html' %}</select>
                    </div>
                </div>
                <div class="row text-center" style="padding-left: 10%;">
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Mata</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Floresta</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Rios</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Cachoeiras</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Sítios</label>
                    </div>
                    <div class="col" style="display:inline-flex;" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Outros</label>
                    </div>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>TEVE CONTATO COM ANIMAIS?</label>
                        <select name="" id="">{% include 'options/tp_simnao.html' %}</select>
                    </div>
                </div>
                <div class="row text-center" style="padding-left: 10%;">
                    <div class="col-2" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Cão</label>
                    </div>
                    <div class="col-2" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Gato</label>
                    </div>
                    <div class="col-3" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Equinos</label>
                    </div>
                    <div class="col-5">
                        <label>Outros Animais</label>
                        <input onkeypress = "return limitcarc(event, 'letr_acent')" style="width: 50%;" type="text" >
                    </div>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>Natureza do contato com animais</label>
                        <select name="" id="">{% include 'options/tp_simnao.html' %}</select>
                    </div>
                </div>
                <div class="row text-center" style="padding-left: 12%;">
                    <div class="col-3.5" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>MORDEDURA</label>
                    </div>
                    <div class="col-4" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Arranhadura</label>
                    </div>
                    <div class="col">
                        <label>Outros Animais</label>
                        <input onkeypress = "return limitcarc(event, 'letr_acent')" style="width: 50%;" type="text" >
                    </div>
                </div>
                <div class="row text-center" style="padding-left: 10%;">
                    <div class="col" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Lesões mucosas do animal</label>
                        <div class="col" style="display:inline-flex;">
                            <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                            <label>Lesões cutâneas do animal</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>Relação com o animal doente</label>
                        <select name="" id="">{% include 'options/tp_simnao.html' %}</select>
                    </div>
                </div>
                <div class="row text-center" style="padding-left: 5%;">
                    <div class="col-3.5" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Tratador/Propietário do Animal</label>
                    </div>
                    <div class="col-4" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Profissional de Saúde(*)</label>
                    </div>
                    <div class="col">
                        <label>Outro</label>
                        <input onkeypress = "return limitcarc(event, 'letr_acent')" style="width: 78%;" type="text" >
                    </div>
                </div>
                <div class="row text-center" style="padding-left: 3%;">
                    <div class="col" style="display:inline-flex;">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Abrigo/ong</label>
                        <div class="col" style="display:inline-flex;">
                            <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                            <label>Lesões cutâneas do animal</label>
                        </div>
                        <label>(*) Veterinário, enfermeiro, tratador de animal em clínicas</label>
                    </div>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="col-9">
                    <label>
                        Exerce atividade que resulte em contato constante com plantas?
                        (Jardineiros, agricultores, horticultores, exploradores de madeira,
                        trabalhadores ruais)
                    </label>
                </div>
                <div class="col-3" style="margin-top: 5px;">
                    <select>
                        {% include 'options/tp_simnao.html' %}
                    </select>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="col-9">
                    <label>
                        História de corte, lesão ou trauma durante o manuseio de plantas 
                        ou material orgânico suspeito de contaminação pelo fungo? (EX:
                        tábuas úmidas de madeira, solo, palhas, farpas, espinhos, vegetais)
                    </label>
                </div>
                <div class="col-3" style="margin-top: 15px;">
                    <select>
                        {% include 'options/tp_simnao.html' %}
                    </select>
                </div>
            </div>
            <div class="pagebreaker"></div>
            <!-- LINHA -->
            <div style="margin-top: 5%;"  class="barra dados_clinicos">Dados Clínicos</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado text-center"><p>DADOS COMPLEMENTARES DO CASO</p></div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-4 arredondado" style="padding-left: 5%;">
                    <label>
                        Presença de lesão na pele?
                    </label>
                    <select style="margin-left: 15%;margin-top: 5%;">
                        {% include 'options/tp_simnao.html' %}
                    </select>
                </div>
                <div class="col-8 arredondado">
                    <div class="row text-center" style="padding-left: 40%; padding-bottom: 2%;">
                        <label>Natureza da Lesão</label>
                    </div>
                    <div class="row text-center" style="padding-left: 2%;">
                        <div class="col-4" style="display:inline-flex;">
                            <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                            <label>pápula</label>
                        </div>
                        <div class="col-4" style="display:inline-flex;">
                            <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                            <label>úlcera</label>
                        </div>
                        <div class="col-4" style="display:inline-flex;">
                            <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                            <label>linfonodos</label>
                        </div>
                        <div class="col">
                            <label>Outros</label>
                            <input style="width: 50%;" type="text" >
                        </div>
                    </div>
                </div>
            </div> 
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="row" style="padding-left: 2%;">
                    <div class="col">
                        <label>Localização da lesão (parte do corpo atingida)</label>
                    </div>
                </div>
                <div class="row text-center" style="padding-left: 10%;">
                    <div class="row">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Mão</label>
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Membro superior</label>
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>cabeça</label>
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Pescoço</label>
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Abdome</label>
                    </div>
                    <div class="row">
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Tórax</label>
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Pé</label>
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Membro inferior</label>
                        <input style="width: 16px; height: 16px; margin:5px;margin-top: 0;" type="checkbox">
                        <label>Todo o corpo</label>
                        <div class="col">
                            <label>Outro</label>
                            <input onkeypress = "return limitcarc(event, 'letr_acent')" style="width: 80%;" type="text" >
                        </div>
                    </div>
                </div>
            </div>   
            <!-- LINHA -->
            <div class="row arredondado">
                <div class="col-7">
                    <label>
                        Diagnóstico de forma extracutânea da doença?
                    </label>
                </div>
                <div class="col-5 py-2">
                    <select name="" id="">{% include 'options/tp_simnao.html' %}</select>
                </div>
                <label style="margin-left: 2%;">Qual Localização?</label>
                <input onkeypress = "return limitcarc(event, 'letr_acent')" style="width: 40%;" type="text" >
            </div>
            <!-- LINHA -->
            <div class="barra dados_laboratoriais">Dados Laboratoriais</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>
                        Houve coleta de material para exame laboratorial?
                    </label>
                    <select style="width: 25%; margin-left: 5%;margin-top: 2%;">
                        {% include 'options/tp_simnao.html' %}
                    </select>
                </div>
                <div class="col-3 arredondado">
                    <label>Data da coleta</label>
                    <input class="data" type="date">
                </div>
            </div> 
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>
                        Resultado do Isolamento
                    </label>
                    <select style="width: 25%; margin-left: 5%;margin-top: 2%;">
                        <option value="" selected>Selecionar</option>
                        <option value="Detectado">Detectado</option>
                        <option value="Não compativel">Não compativel</option>
                        <option value="Inconclusivo">Inconclusivo</option>
                        <option value="Não realizado">Não realizado</option>
                    </select>
                </div>
                <div class="col-3 arredondado">
                    <label>Agente</label>
                    <input type="text">
                </div>
            </div> 
            <!-- LINHA -->
            <div class="row">
                <div class="col arredondado" style="padding:10px">
                    <label>
                        Histopatologia
                    </label>
                    <select style="width: 25%; margin-left: 5%;">
                        <option value="" selected>Selecionar</option>
                        <option value="Detectado">Detectado</option>
                        <option value="Não compativel">Não compativel</option>
                        <option value="Inconclusivo">Inconclusivo</option>
                        <option value="Não realizado">Não realizado</option>
                    </select>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row arredondado">
                <label>Outros Exames realizados</label>
            </div>
            <div class="row">
                <div class="col-3 arredondado">
                    <label>Data</label>
                    <input class="data" type="date">
                </div>
                <div class="col-4 arredondado">
                    <label>Descrição</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>Resultado</label>
                    <input type="text">
                </div>
            </div>
            <div class="row arredondado">
                <div class="col-3 arredondado">
                    <label>Data</label>
                    <input class="data" type="date">
                </div>
                <div class="col-4 arredondado">
                    <label>Descrição</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>Resultado</label>
                    <input type="text">
                </div>
            </div>
            <div class="row arredondado">
                <div class="col-3 arredondado">
                    <label>Data</label>
                    <input class="data" type="date">
                </div>
                <div class="col-4 arredondado">
                    <label>Descrição</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>Resultado</label>
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="barra tratamento">Tratamento</div>
            <!-- Linha -->
            <div class="row">
                <div class="col-4 arredondado">
                    <label>Data de Inicio do Tratamento</label>
                    <input class="data" type="date">
                </div>
                <div class="col-3 arredondado">
                    <label>Droga Administrada</label>
                    <input type="text">
                </div>
                <div class="col-5 arredondado">
                    <label>Esquema Terapeutico (Dose, Via, Intervalo)</label>
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="row">
                <div class="col-4 arredondado">
                    <label>Ocorreu Hospitalização?</label>
                    <select style="width: 80%; margin-left: 5%;margin-top: 2%;">
                        {% include 'options/tp_simnao.html' %}
                    </select>
                </div>
                <div class="col-4 arredondado">
                    <label>Data da Internação</label>
                    <input class="data" type="date">
                </div>
                <div class="col-3 arredondado">
                    <label>Data da Alta</label>
                    <input class="data" type="date">
                </div>
                <div class="col-1 arredondado">
                    <label>UF</label>
                    <select style="width: 130%; margin-left: -5px;" name="" id="">
                        {% include 'options/tp_uf.html' %}
                    </select>
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>Município do Hospital</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Codigo do IBGE</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>Nome do Hospital</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Codigo</label>
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="barra conclusao">Conclusão</div>
            <!-- Linha -->
            <div class="row">
                <div class="col-6 arredondado" style="padding:5px; padding-left: 5%;">
                    <label>Classificação Final</label>
                    <select style="margin-left: 5%;margin-top: 2%;">
                        <option value="" selected>Selecionar</option>
                        <option value="Confirmado">Confirmado</option>
                        <option value="Descartado">Descartado</option>
                    </select>
                </div>
                <div class="col-6 arredondado" style="padding:5px; padding-left: 2%;">
                    <label>Critério de confirmação</label>
                    <select style="width: 60%;margin-top: 2%;">
                        <option value="" selected>Selecionar</option>
                        <option value="Clínico Laboratorial">Clínico Laboratorial</option>
                        <option value="Clínico Epidemiológico">Clínico Epidemiológico</option>
                    </select>
                </div>
            </div>
            <!-- Linha -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>Caso Autoctone do Município de Residência?</label>
                    <select style="width: 40%; margin-left: 5%;margin-top: 2%;">
                        <option value="" selected>Selecionar</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                        <option value="Indeterminado">Indeterminado</option>
                    </select>
                </div>
                <div class="col-1 arredondado">
                    <label>UF</label>
                    <select style="width: 130%; margin-left: -5px;" name="" id="">
                        {% include 'options/tp_uf.html' %}
                    </select>
                </div>
                <div class="col-2 arredondado">
                    <label>País</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-9 arredondado">
                    <label>Município</label>
                    <input type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Codigo do IBGE</label>
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-4 arredondado">
                    <label>Distrito</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Bairro</label>
                    <input type="text">
                </div>
                <div class="col-4 arredondado">
                    <label>Área Provável de Infecção</label>
                    <select style="width: 70%; margin-left: 5%;margin-top: 2%;">
                        <option value="" selected>Selecionar</option>
                        <option value="Urbana">Urbana</option>
                        <option value="Rural">Rural</option>
                        <option value="Periurbana">Periurbana</option>
                        <option value="Ignorado">Ignorado</option>
                    </select>
                </div>
            </div>
            <!-- Linha -->
            <div class="row">
                <div class="col-6 arredondado" style="padding:5px; padding-left: 5%;">
                    <label>Ambiente de Infecção</label>
                    <select style="margin-left: 5%;margin-top: 2%;">
                        <option value="" selected>Selecionar</option>
                        <option value="Domiciliar">Domiciliar</option>
                        <option value="Trabalho">Trabalho</option>
                        <option value="Lazer">Lazer</option>
                        <option value="Outro">Outro</option>
                        <option value="Ignorado">Ignorado</option>
                    </select>
                </div>
                <div class="col-6 arredondado" style="padding:5px; padding-left: 5%;">
                    <label>Doença relacionada ao trabalho?</label>
                    <select style="width: 40%;margin-top: 2%;">
                        {% include 'options/tp_simnao.html' %}
                    </select>
                </div>
            </div>
            <!-- Linha -->
            <div class="row">
                <div class="col-6 arredondado">
                    <label>Evolução do caso</label>
                    <select style="width: 60%; margin-left: 5%;margin-top: 2%;">
                        <option value="" selected>Selecionar</option>
                        <option value="Cura">Cura</option>
                        <option value="Obito pelo Agravo">Obito pelo Agravo</option>
                        <option value="Obito outras Causas">Obito outras Causas</option>
                        <option value="Ignorado">Ignorado</option>
                    </select>
                </div>
                <div class="col-3 arredondado">
                    <label>Data do Obito</label>
                    <input class="data" type="date">
                </div>
                <div class="col-3 arredondado">
                    <label>Data Encerramento</label>
                    <input class="data" type="date">
                </div>
            </div>
            <!-- Linha -->
            <div class="barra observacao">Observação</div>
            <!-- Linha -->
            <div class="row pt-3 arredondado">
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="row pt-3 arredondado">
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="row pt-3 arredondado">
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <!-- Linha -->
            <div class="row pt-3 arredondado">
                <div class="col">
                    <input type="text">
                </div>
            </div>
            <!-- LINHA -->
            <div class="barra investigador">Investigador</div>
            <!-- LINHA -->
            <div class="row">
                <div class="col-6 arredondado">
                    <label>Nome</label>
                    <input onkeypress = "return limitcarc(event, 'letr_acent')" type="text">
                </div>
                <div class="col-3 arredondado">
                    <label>Função</label>
                    <input type="text" >
                </div>
                <div class="col-3 arredondado">
                    <label>Assinatura</label>
                    <input type="text">
                </div>
            </div>
        </div>
        <hr>
        <div id="botao" class="row text-center">
            <div class="col">
                <button class="btn btn-primary" type="button" id="salvar_imprimir_bottom">Salvar ou Imprimir</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/js.js' %}"></script>
</body>
</html>