{% extends 'base1.html' %}

{% block content %}
<div class="mt-3">
	<div class="alert alert-primary text-center">
		<h1 class="fs-2">Sistema de Informação em Saúde da Gerência Executiva de Vigilância em Saúde (SISGEVS)</h1>
	</div>
  
  <div class="row">
    <div class="col-md-12">
      <p style="font-size: 82%; background-color: #e6e6e6; padding: 8px; text-align: justify;">
  
        <b>O Sistema de Informação em Saúde da Gerência Executiva de Vigilância em Saúde (SISGEVS)</b> é um sistema utilizado para estruturar toda a organização de dados em saúde do estado da Paraíba, sendo complementar aos sistemas oficiais do Ministério da Saúde. O sistema possui dados da população paraibana sob vigilância, com dados coletados por meio de formulários de acordo com a necessidade de cada agravo ou doença.
        
      </p>
  
    </div>
  </div>
</div>
{% endblock content %}