{% extends 'base1.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'base/css/virtual-select.min.css' %}" />
<style>
    .vscomp-ele{max-width: 350px;}
</style>
{% endblock head %}

{% block nav %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a href="#" class="nav-link" onclick="goBack()"><i class="bi bi-arrow-left-circle me-1"></i>Voltar</a>
    </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="mt-3">
        <div class="alert alert-primary text-center">
            <h1 class="fs-2">Autocadastro para notificar doenças e agravos</h1>
        </div>
        <div class="container my-auto">
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    <div class="mb-5">
                        {% for message in messages %}
                        <p class="my-1 text-danger">{{message}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col mt-3">
                        <label for="username"><strong>Nome:</strong></label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col mt-3">
                        <label for="cpf"><strong>CPF:</strong></label>
                        <input type="text" class="form-control cpf" id="cpf" name="cpf" required>
                    </div>
                    <div class="col mt-3">
                        <label for="telefone"><strong>Telefone:</strong></label>
                        <input type="text" class="form-control telefone" id="telefone" name="telefone" required>
                    </div>                    
                    <div class="col-md-3 mt-3">
                        <label for="municipio"><strong>Município:</strong></label>
                        <select name="municipio" id="municipio" class="form-select" required>
                            {% for municipio in municipios %}
                            <option value="{{municipio.id}}">{{municipio.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col mt-3">
                        <label for="login"><strong>Login:</strong></label>
                        <input type="text" class="form-control" id="login" name="login" required>
                    </div>
                
                    <div class="col mt-3">
                        <label for="password1"><strong>Digite a senha:</strong></label>
                        <input type="password" class="form-control" id="password1" name="password1" required>
                    </div>
                    <div class="col-md-3 mt-3">
                        <label for="password2"><strong>Confirme a senha:</strong></label>
                        <input type="password" class="form-control" id="password2" name="password2" required>

                        <input type="checkbox" class="form-check-input" id="mostrar-senha" onclick="return mostrarSenha(this)">
                        <label for="mostrar-senha" class="form-check-label">Mostrar senha</label>
                    </div>                    
                </div>
                
                <div class="row text-center mt-5"><span class="alert alert-info"><strong>Escolha os agravos que deseja notificar</strong></span></div>
                <hr>
                <div align="center">
                    <select id="agravos-select" multiple name="agravos-select" placeholder="Selecione os Agravos" data-search="true" data-silent-initial-value-set="true">
                        {% for agravo in agravos %}
                        <option value="{{agravo.value}}">{{agravo.name}}</option>
                        {% endfor %}
                    </select>
                </div>  

                <!-- <div class="row justify-content-center align-middle text-center mt-3">
                    <div class="row"><span class="alert alert-info"><strong>Escolha os agravos que deseja notificar</strong></span></div>
                    <hr>
                    <div class="col mt-3">
                        <input type="checkbox" class="form-check-input" id="esp-hum" name="esp-hum" value="esp-hum">
                        <label for="esp-hum" class="form-check-label">Esporotricose Humana</label>
                    </div>
                    <div class="col mt-3 mb-3">
                        <input type="checkbox" class="form-check-input" id="act" name="act" value="act">
                        <label for="act" class="form-check-label">Acidentes de Trânsito</label>
                    </div>
                </div>-->

                <hr>
                <div class="mt-4 text-center">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-success"><i class="bi bi-check2 me-1"></i>Criar</button>
                    </div>
                </div>
            </form>
        </div>
</div>

{% endblock content %}
{% block endbody %}
<script src="{% static 'base/js/virtual-select.min.js' %}"></script>
<script>
    // Select de agravos
    VirtualSelect.init({
        ele: '#agravos-select'
    });

    function mostrarSenha(input){
        if (input.checked == true) {
            document.getElementById('password1').type = "text";
            document.getElementById('password2').type = "text";
        } else {
            document.getElementById('password1').type = "password";
            document.getElementById('password2').type = "password";
        };
    };
</script>
{% endblock endbody %}