{% extends "base1.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'base/css/virtual-select.min.css' %}" />
<script src="{% static '/_aci/js/formCreateValidation.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'base/css/novo-form.css' %}" />
<script src="{% static '/base/js/beforeSubmit.js' %}" defer></script>
<script src="{% static '/base/js/limitChar.js' %}" defer></script>
{% endblock head %}

{% block content %}

<div class="backTop d-none">
  <span id="textScrollUp">Voltar ao Topo</span>
  <i id="scrollUp" onclick="return window.scrollTo({top:0})" class="bi bi-arrow-up-circle "></i>
</div>
<form class="mb-3 p-3" name="" id="" enctype="multipart/form-data" action="criar-caso/submit" method="POST">{% csrf_token %}
  <!-- Paineis do formulário -->
  <div class="container p-3 card mb-5">
    <div class="card-header">
      <h1 class="fs-2">Ficha de Notificação de Acidentes de Trânsito</h1>
    </div>  
    <span class="d-none alert alert-danger m-0 text-center" id="incomplete_form_alert">Formulário incompleto, verifique todos os campos obrigatórios e tente novamente.</span>
    
    <div class="px-2 m-3">
      <p class="m-0">(<a style="color: red;">*</a>) Campo obrigatório.</p>
    </div>
    <!-- [FORM] INFORMACOES DO PACIENTE -->
    <div id="menu4" class="container mb-4">
      <div class="card">
      
        <div class="card-header">INFORMAÇÕES DO PACIENTE</div>
      
        <div class="card-body">      
          {% include 'form/informacoes_do_paciente.html'%}
          {% include 'form/outras_informacoes_sobre_o_acidente.html'%}
        </div>
      </div>
    </div>

    <!-- [FORM] INFORMACOES GERAIS DO ACIDENTE -->
    <div id="menu1" class="container mb-4">
      <div class="card">
      
        <div class="card-header">INFORMAÇÕES GERAIS DO ACIDENTE</div>
      
        <div class="card-body">      
          {% include 'form/informacoes_gerais_do_acidente.html'%}
          {% include 'form/severidade_do_acidente_e_quantidade_de_vitimas.html'%}
        </div>
      </div>
    </div>

    <!-- [FORM] EQUIPE ACIONADA PARA O LOCAL DO ACIDENTE -->
    <div id="menu3" class="container mb-4">
      <div class="card">
      
        <div class="card-header">EQUIPE ACIONADA PARA O LOCAL DO ACIDENTE</div>
      
        <div class="card-body">      
          {% include 'form/equipe_acionada_para_o_local_do_acidente.html'%}
        </div>
      </div>
    </div>

    <!-- [FORM] UNIDADE NOTIFICADORA -->
    <div id="menu6" class="container mb-4">
      <div class="card">
      
        <div class="card-header">UNIDADE NOTIFICADORA</div>
      
        <div class="card-body">      
      
          {% include 'form/unidade_notificadora.html'%}
        </div>
      </div>
    </div>
  <div align="center"><input type="submit" class="btn btn-primary" id="btn-submit" value="Salvar"></div>
  </div>

</form>
{% endblock content %}
{% block endbody %}

<script src="{% static 'base/js/virtual-select.min.js' %}"></script>

<script>
  // Select de funções
  VirtualSelect.init({
    ele: '.select-model',
    disableValidation: true,
    searchPlaceholderText: "Procurar",
    noSearchResultsText: "Nenhum item encontrado",
    allOptionsSelectedText: "Todos os itens selecionados"
  });
  // Scroll UP Button
  window.addEventListener('scroll', function() {
    scrollBtn = $('.backTop')
    return window.scrollY > 300 ? scrollBtn.removeClass('d-none') : scrollBtn.addClass('d-none')  
  })
</script>

{% endblock endbody %}
