<option value="" selected>Selecionar</option>
<option value="Analfabeto">Analfabeto</option>
<option value="1ª a 4ª Série incompleta do EF (antigo primário ou 1º grau)">1ª a 4ª Série incompleta do EF (antigo primário ou 1º grau)</option>
<option value="4ª Série completa do EF">4ª Série completa do EF</option>
<option value="5ª a 8ª Série incompleta do EF (antigo ginásio ou 1° grau)">5ª a 8ª Série incompleta do EF (antigo ginásio ou 1° grau)</option>
<option value="Ensino Fundamental Completo">Ensino Fundamental Completo</option>
<option value="Ensino Médio Incompleto (antigo colegial ou 2° grau)">Ensino Médio Incompleto (antigo colegial ou 2° grau)</option>
<option value="Ensino Médio Completo">Ensino Médio Completo</option>
<option value="Educação Superior Incompleta">Educação Superior Incompleta</option>
<option value="Educação Superior Completa">Educação Superior Completa</option>
<option value="Ignorado">Ignorado</option>
<option value="Não se aplica">Não se aplica</option>