<div class="row m-0">
    <div class= "alert alert-success col-sm" style="text-align: center;">
        <strong style="align-items: center;">Nome do Paciente</strong>
        <strong id="alert_nome_paciente"style="color:red">*</strong><br>
        <strong style="font-size:0.7em">(Sem Abreviações)</strong>
    </div>
</div>
<div class="row">
    <div class="col-4 mx-auto">
        <action class="was-validated">
            <label for="nome_paciente"></label>
            <input type="text" class="form-control" id="nome_paciente"  placeholder="Digite o nome do paciente, por favor." name="nome_paciente" pattern="^[a-z .*,A-Z.*\u00C0-\u00FF]{10,}$" required>
            <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
            <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">Digite o nome com sobrenome</div>
        </action>
    </div>
</div>
<div class="row">
    <div class="col pt-4">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Data de Nascimento:</strong>
            <strong id="alert_data_nascimento" style="color:red">*</strong>
            <p></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 mx-auto">
        <action class="was-validated">
            <label for="dn"></label><!--dn: data de nascimento-->
            <input type="date" id="dn" class= form-control pattern="" name="data_nasc_paciente"required>
            <div class="valid-feedback text-center">Correto</div>
            <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">Digite ou use o mouse para informa o campo</div>
    </div>
</div>
<div class="row m-0 pt-4">
    <div class="alert alert-success" style="text-align: center;">
        <strong style="align-items: center;">Idade do Paciente:</strong>
    </div>
</div>

<div class="row pt-3 text-center">
    <div class="col-1 mx-auto">
        <input type="number" id="idade" class="form-control form-control-sm"min="0"max="100" style="border-color: green" name="idade_paciente" readonly>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 pt-3 mt-4">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Sexo:</strong>
            <strong id="alert_sexo"style="color:red">*</strong>
        </div>
    </div>
</div>
<div class="row col-sm-12 pt-3 text-center">
    <div class="radio col">
        <input onchange="verificasexo()" type="radio" id="feminino" name="sexo_paciente" value="Feminino">
        <label for="feminino">Feminino</label>
    </div>

    <div class="radio col">
        <input onchange="verificasexo()" type="radio" id="masculino" name="sexo_paciente" value="Masculino">
        <label for="masculino">Masculino</label>
    </div>
    <div class="radio col">
        <input onchange="verificasexo()" type="radio" id="sexo_outros" name="sexo_paciente" value="Outros">
        <label for="sexo_outros">Outros</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 pt-4">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Nome da Mãe:</strong>
            <strong id="alert_nome_mae"style="color:red">*</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 mx-auto">
        <action class="was-validated">
            <label for="nome_mae"></label>
            <input type="text" class="form-control" id="nome_mae" placeholder="Digite o nome da mãe, por favor." name="filiacao" pattern="^[a-z .*,A-Z.*\u00C0-\u00FF]{10,}$" required>
            <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
            <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">Digite o nome com sobrenome</div>
        </action>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 pt-3">
        <div class="alert alert-success" style="text-align: center;">
            <strong style=" align-items: center;">Endereço do Paciente:</strong>
            <strong id="alert_endereco_paciente"style="color:red">*</strong>
            <strong style="font-size:0.7em"><br>Av/Rua; Nº; Bairro</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 mx-auto">
        <action class="was-validated">
            <label for="endereco_paciente"></label>
            <input type="text" class="form-control" pattern= "^[a-z .*,A-Z.*, 0-9\u00C0-\u00FF]{10,}$"  id= "endereco_paciente" placeholder="Digite o endereço, por favor." name="endereco_paciente" required>
            <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
            <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">Digite o endereço</div>
        </action>
    </div>
</div>
    <div class="row m-0 pt-4">
        <div class="alert alert-success" style="text-align: center;">
            <strong style="align-items: center;">Contato Telefônico:</strong>
            <strong id="alert_tel"style="color:red">*</strong>

        </div>
    </div>
        <div class="row ">
            <div class="col-sm-3  mx-auto">
                <action class="was-validated">
                    <label for="tel"></label><br>
                    <input id="tel" class="form-control" name="contato_telefonico" type="tel" pattern="^[0-9 ()-]{15}$"placeholder="(00) 00000-0000" required >
                    <div class=" col row-1"></div>
                    <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
                    <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">Digite um telefone para contato</div>
                </action>
            </div>
        </div>
<div class="row m-0 pt-4">
    <div class="alert alert-success" style="text-align: center;">
        <strong style="align-items: center;">CPF:</strong>
        <strong id="alert_cpf"style="color:red"></strong>
    </div>
</div>
<div class="row ">
    <div class="col-sm-3  mx-auto">
        <action class="was-validated">
            <label for="cpf"></label><br>
            <input id="cpf" class="form-control" name="cpf_paciente" type="cpf" pattern="^\d{3}.\d{3}.\d{3}-?\d{2}$"  placeholder="000.000.000-00" required >
            <div class=" col row-1"></div>
            <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
            <div class="invalid-feedback" style="font-size: 0.7em; text-align: center">CPF (OPCIONAL)</div>
        </action>
    </div>
</div>
<div class="row m-0 pt-4">
    <div class="alert alert-success" style="text-align: center;">
        <strong style="align-items: center;">CNS:</strong>
        <strong id="alert_cns"style="color:red"></strong>

    </div>
</div>
<div class="row ">
    <div class="col-sm-3  mx-auto">
        <action class="was-validated">
            <label for="cns"></label><br>
            <input id="cns" class="form-control" name="cns_paciente" type="cns" pattern="^\d{3}.\d{4}.\d{4}-?\d{4}$" placeholder="000.0000.0000-0000" required >
            <div class=" col row-1"></div>
            <div class="valid-feedback" style="text-align: center;font-size: 0.7em">Correto</div>
            <div class="invalid-feedback" style="font-size: 0.7em; text-align: center"> CNS (OPCIONAL)</div>
        </action>
    </div>
</div>