
<div class="row">
      
  <div class="col">
      
      <label for="quem_foi_responsavel_por_prestar_apoio_local" class="form-label m-0"><spam style="color:red;">*</spam><small><b>Quem Foi Responsável Por Prestar Apoio no Local</b> </small></label>
      <select multiple class="select-model" id="quem_foi_responsavel_por_prestar_apoio_local" name="quem_foi_responsavel_por_prestar_apoio_local" placeholder="Selecione um item" data-search="true" data-silent-initial-value-set="true" required >
        <option value="" disabled selected>Selecione um item</option>
        <option value="BPTRAN">BPTRAN </option>
        <option value="Corpo de Bombeiros">Corpo de Bombeiros </option>
        <option value="PRF">PRF </option>
        <option value="SAMU">SAMU </option>
        <option value="Órgãos Municipais de Trânsito">Órgãos Municipais de Trânsito </option>
        <option value="Socorrido Por Terceiros">Socorrido Por Terceiros </option>
        <option value="Outros">Outros </option>
      </select>        
      
  </div>
      
</div>