
<div class="row">
      
  <div class="col">
      
      <label for="quem_foi_responsavel_por_prestar_apoio_local" class="form-label m-0"><spam style="color:red;">*</spam><small>Quem Foi Responsavel Por Prestar Apoio no Local </small></label>
      <select multiple class="select-model" id="quem_foi_responsavel_por_prestar_apoio_local" name="quem_foi_responsavel_por_prestar_apoio_local" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" required >
        <option value="" disabled selected>Selecione um ítem</option>
        <option value="orgaos_municipais_transito">Orgaos Municipais de Transito </option>
        <option value="corpo_bombeiros">Corpo de Bombeiros </option>
        <option value="prf">Prf </option>
        <option value="samu">Samu </option>
        <option value="socorrido_por_terceiros">Socorrido Por Terceiros </option>
        <option value="outros">Outros </option>
      </select>        
      
  </div>
      
</div>