
<div class="row">
      
  <div class="col">
      
        <label for="nome_paciente_sem_abreviacoes" class="form-label m-0"><spam style="color:red;">*</spam><small><b>1-Nome do Paciente</b></small></label>
        <input type="text" class="form-control form-control-sm" id="nome_paciente_sem_abreviacoes" name="nome_paciente_sem_abreviacoes" placeholder="Sem Abreviações" onkeypress="return limitcarc(event, 'letr_acent')" pattern="^[a-z A-Z]{10,90}$"  required  >      
        <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres. Somente Letras.</div>
      
  </div>
      
      
  <div class="col">
      
        <label for="data_nascimento" class="form-label m-0"><spam style="color:red;">*</spam><small><b>4-Data de Nascimento </b></small></label>
        <input type="date" class="form-control form-control-sm" id="data_nascimento" name="data_nascimento" required  >      
      
  </div>
      
      
  <div class="col">
      
        <label for="idade_paciente" class="form-label m-0"><spam style="color:red;"></spam><small><b>5-Idade do Paciente </b></small></label>
        <input type="number" class="form-control form-control-sm" id="idade_paciente" name="idade_paciente" readonly>      
      
  </div>
</div>
<div class="row">     
      
  <div class="col">
      
      <label for="sexo" class="form-label m-0"><spam style="color:red;">*</spam><small><b>6-Sexo </b></small></label>
      <div class="radio-container" id="sexo" required >
        <input type="radio" name="sexo" id="sexo-feminino" value="Feminino " required>
        <label class="radio-label" for="sexo-feminino">Feminino </label>
        <input type="radio" name="sexo" id="sexo-masculino" value="Masculino " required>
        <label class="radio-label" for="sexo-masculino">Masculino </label>
        <input type="radio" name="sexo" id="sexo-outros_" value="Outros   " required>
        <label class="radio-label" for="sexo-outros_">Outros   </label>
      </div>      
      
  </div>

      
  <div class="col">
      
      <label for="nome_mae" class="form-label m-0"><spam style="color:red;">*</spam><small><b>2-Nome da Mãe </b></small></label>
      <input type="text" class="form-control form-control-sm" id="nome_mae" name="nome_mae" pattern="^[a-z A-Z]{10,90}$" placeholder="Sem Abreviações" onkeypress="return limitcarc(event, 'letr_acent')" required  >      
      <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres. Somente letras.</div>
  </div>
      
      
  <div class="col">
      
      <label for="endereco_paciente" class="form-label m-0"><small><b>3-Endereço do Paciente</b></small></label>
      <input type="text" class="form-control form-control-sm" id="endereco_paciente" name="endereco_paciente" pattern="^[a-z A-Z0-9,-.|:;/]{10,90}$" onkeypress="return limitcarc(event, 'letr_acent_num')" >
      <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres.</div>
  </div>
      
</div>
<div class="row">    
  <div class="col">
      
        <label for="contato_telefonico" class="form-label m-0"><small><b>7-Contato Telefônico </b></small></label>
        <input type="text" class="form-control form-control-sm" id="contato_telefonico" placeholder="(00)00000-0000" name="contato_telefonico" >
      
  </div>
      
      
  <div class="col">
      
        <label for="cpf_paciente" class="form-label m-0"><spam style="color:red;">*</spam><small><b>8-CPF</b></small></label>
        <input type="text" class="form-control form-control-sm" id="cpf_paciente" placeholder="000.000.000-00" name="cpf_paciente" required>
  </div>
      

      
  <div class="col">      
      <label for="cns_paciente" class="form-label m-0"><small><b>9-CNS</b></small></label>
      <input type="text" class="form-control form-control-sm" id="cns_paciente" placeholder="000.0000.0000.0000" name="cns_paciente" >      
  </div>      
</div>