
<div class="row">
      
  <div class="col">
      
        <label for="data_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Data do Acidente </small></label>
        <input type="date" class="form-control form-control-sm" id="data_acidente" name="data_acidente" required  >      
      
  </div>
  <div class="col">      
      <label for="periodo_dia" class="form-label m-0"><spam style="color:red;">*</spam><small>Período do Dia </small></label>
      <div class="radio-container" id="periodo_dia" required >
        <input type="radio" name="periodo_dia" id="periodo_dia-manha" value="Manha " required>
        <label class="radio-label" for="periodo_dia-manha">Manhã </label>
        <input type="radio" name="periodo_dia" id="periodo_dia-tarde" value="Tarde " required>
        <label class="radio-label" for="periodo_dia-tarde">Tarde </label>
        <input type="radio" name="periodo_dia" id="periodo_dia-noite" value="Noite " required>
        <label class="radio-label" for="periodo_dia-noite">Noite </label>
      </div>      
      
  </div>
  <div class="col">
    <label for="que_dia_semana_ocorreu_acidente" class="form-label m-0"><small>Em que Dia da Semana Ocorreu o Acidente </small></label>
    <input class="form-control form-control-sm" id="que_dia_semana_ocorreu_acidente" name="que_dia_semana_ocorreu_acidente" value="" readonly>            
  </div>
      
      
  <div class="col">
      
      <label for="acidente_ocorreu_dia_feriado" class="form-label m-0"><spam style="color:red;">*</spam><small>O Acidente Ocorreu em Dia de Feriado </small></label>
      <div class="radio-container" id="acidente_ocorreu_dia_feriado">
        <input type="radio" name="acidente_ocorreu_dia_feriado" id="acidente_ocorreu_dia_feriado-sim" value="Sim " required>
        <label class="radio-label" for="acidente_ocorreu_dia_feriado-sim">Sim </label>
        <input type="radio" name="acidente_ocorreu_dia_feriado" id="acidente_ocorreu_dia_feriado-não" value="Não " required>
        <label class="radio-label" for="acidente_ocorreu_dia_feriado-não">Não </label>
      </div>      
      
  </div>
      
</div>
<div class="row">
      
  <div class="col">
      
      <label for="municipio_ocorrencia_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Município de Ocorrência do Acidente </small></label>
      <select class="select-model" id="municipio_ocorrencia_acidente" name="municipio_ocorrencia_acidente" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" required>
        <option value="" disabled selected>Selecione um ítem</option>
        {% for municipio in municipios %}
        <option value="{{municipio.nome}}">{{municipio.nome}}</option>
        {% endfor %}
      </select>  
      
  </div>
      
      
  <div class="col">
      
      <label for="endereco_local_acidente" class="form-label m-0"><small>Endereço do Local do Acidente </small></label>
      <input type="text" class="form-control form-control-sm" id="endereco_local_acidente" name="endereco_local_acidente" pattern="^[a-z A-Z0-9\\u00C0-\\u00FF]{10,90}$" onkeypress="return limitcarc(event, 'letr_acent_num')" >
      <div style="font-size:10px;" class="invalid-feedback text-center">Min 10, Max 90 Caracteres.</div>
  </div>
      
      
  <div class="col">
      
      <label for="tipo_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Tipo do Acidente </small></label>
      <select class="select-model" id="tipo_acidente" name="tipo_acidente" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" required >
        <option value="" disabled selected>Selecione um ítem</option>
        <option value="abalroamento">Abalroamento </option>
        <option value="atropelamento">Atropelamento </option>
        <option value="capotamento">Capotamento </option>
        <option value="queda_moto">Queda de Moto </option>
        <option value="colisao_choque_">Colisão/Choque</option>
        <option value="outros">Outros</option>
      </select>        
      
  </div>
      
      
  <div class="col">
      
      <label for="tipos_veiculos_envolvidos_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Tipos de Veículos Envolvidos no Acidente </small></label>
      <select multiple class="select-model" id="tipos_veiculos_envolvidos_acidente" name="tipos_veiculos_envolvidos_acidente" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" required >
        <option value="" disabled selected>Selecione um ítem</option>
        <option value="carro">Carro </option>
        <option value="caminhao">Caminhão </option>
        <option value="motocicleta">Motocicleta </option>
        <option value="motonetas_50cc_">Motonetas 50cc  </option>
        <option value="bicicletas">Bicicletas </option>
        <option value="onibus_">Ônibus  </option>
        <option value="vans">Vans </option>
        <option value="outros">Outros </option>
      </select>        
      
  </div>
      
</div>
<div class="row">
      
  <div class="col">
      
      <label for="paciente_envolvido_acidente_era" class="form-label m-0"><spam style="color:red;">*</spam><small>O Paciente Envolvido no Acidente Era </small></label>
      <div class="radio-container" id="paciente_envolvido_acidente_era" required >
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-pedestre_" value="Pedestre  " required>
        <label class="radio-label" for="paciente_envolvido_acidente_era-pedestre_">Pedestre  </label>
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-condutor" value="Condutor " required>
        <label class="radio-label" for="paciente_envolvido_acidente_era-condutor">Condutor </label>
        <input type="radio" name="paciente_envolvido_acidente_era" id="paciente_envolvido_acidente_era-passageiro" value="Passageiro " required>
        <label class="radio-label" for="paciente_envolvido_acidente_era-passageiro">Passageiro </label>
      </div>      
      
  </div>
      
      
  <div class="col">
      
      <label for="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" class="form-label m-0"><spam style="color:red;">*</spam><small>A Vitima Apresenta Sinais de Embriaguez e/ou Consumo de Bebidas Alcoólicas </small></label>
      <div class="radio-container" id="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" required >
        <input type="radio" name="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" id="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-sim" value="Sim " required>
        <label class="radio-label" for="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-sim">Sim </label>
        <input type="radio" name="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas" id="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-nao_" value="Nao  " required>
        <label class="radio-label" for="vitima_apresenta_sinais_embriaguez_consumo_bebidas_alcoolicas-nao_">Não  </label>
      </div>      
      
  </div>
      
</div>