
<div class="row">
      
  <div class="col w-50">
      
      <label for="houve_vitimas_fatais" class="form-label m-0"><spam style="color:red;">*</spam><small><b>25-Houve Óbitos </b></small></label>
      <div class="radio-container" id="houve_vitimas_fatais" required >
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-sim" value="Sim" required>
        <label class="radio-label" for="houve_vitimas_fatais-sim">Sim </label>
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-não" value="Não" required>
        <label class="radio-label" for="houve_vitimas_fatais-não">Não </label>
      </div>      
      
  </div>

  <div class="col d-none">  
    <label for="caso_obito" class="form-label m-0"><spam style="color:red;"></spam><small><b>26-O Óbito ocorreu</b></small></label>
    <div class="radio-container" id="caso_obito">
      <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento ">
      <label class="radio-label" for="caso_obito-obito_encaminhamento">No Encaminhamento </label>
      <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital ">
      <label class="radio-label" for="caso_obito-obito_hospital">No Hospital </label>
    </div>  
  </div>
      
  <div class="col d-none">
      <label for="numeros_vitimas_fatais_envolvidas_acidente" class="form-label m-0"><spam style="color:red;"></spam><small><b>27-Número de Óbitos</b></small></label>
      <input type="number" class="form-control form-control-sm" id="numeros_vitimas_fatais_envolvidas_acidente" name="numeros_vitimas_fatais_envolvidas_acidente" min="0">
  </div> 
      
</div>
<div class="row">      
  <div class="col">
      
        <label for="quadro_lesoes" class="form-label m-0"><spam style="color:red;">*</spam><small><b>28-Quadro de Lesões da Vítima</b></small></label>
      <select class="select-model" id="quadro_lesoes" name="quadro_lesoes" placeholder="Selecione um item" data-search="true" data-silent-initial-value-set="true">
        <option value="" disabled selected>Selecione um item</option>
        <option value="leves">Leves </option>
        <option value="graves">Graves </option>
        <option value="gravissimas_">Gravíssimas  </option>
        <option value="lesao_seguida_morte_">Lesão Seguida de Morte  </option>
      </select>  
      
  </div>
      
      
  <div class="col">
      
    <label for="numero_feridos_envolvidos_acidente" class="form-label m-0"><spam style="color:red;"></spam><small><b>29-Número de Feridos</b></small></label>
    <input type="number" class="form-control form-control-sm" id="numero_feridos_envolvidos_acidente" name="numero_feridos_envolvidos_acidente" min="0">  
  </div>
</div>