
<div class="row">
      
  <div class="col">
      
      <label for="houve_vitimas_fatais" class="form-label m-0"><spam style="color:red;">*</spam><small><b>25-Houve Óbitos </b></small></label>
      <div class="radio-container" id="houve_vitimas_fatais" required >
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-sim" value="Sim" required>
        <label class="radio-label" for="houve_vitimas_fatais-sim">Sim </label>
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-não" value="Não" required>
        <label class="radio-label" for="houve_vitimas_fatais-não">Não </label>
      </div>      
      
  </div>
      
      
  <div class="col d-none">
      <label for="numeros_vitimas_fatais_envolvidas_acidente" class="form-label m-0"><spam style="color:red;"></spam><small><b>26-Número de Óbitos</b></small></label>
      <select class="select-model" id="numeros_vitimas_fatais_envolvidas_acidente" name="numeros_vitimas_fatais_envolvidas_acidente" placeholder="Selecione um item" data-search="false" data-silent-initial-value-set="true" disabled>
        <option value="" disabled selected>Selecione um item</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="mais">Mais</option>
      </select>      
  </div>
      
      
  <div class="col">
      
      <label for="numero_feridos_envolvidos_acidente" class="form-label m-0"><spam style="color:red;"></spam><small><b>27-Número de Feridos</b></small></label>
      <select class="select-model" id="numero_feridos_envolvidos_acidente" name="numero_feridos_envolvidos_acidente" placeholder="Selecione um item" data-search="false" data-silent-initial-value-set="true" required >
        <option value="" disabled selected>Selecione um item</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="mais">Mais</option>
      </select>        
      
  </div>
      
</div>
<div class="row">      
  <div class="col">
      
        <label for="quadro_lesoes" class="form-label m-0"><spam style="color:red;">*</spam><small><b>28-Quadro de Lesões da Vítima</b></small></label>
      <select class="select-model" id="quadro_lesoes" name="quadro_lesoes" placeholder="Selecione um item" data-search="true" data-silent-initial-value-set="true">
        <option value="" disabled selected>Selecione um item</option>
        <option value="leves">Leves </option>
        <option value="graves">Graves </option>
        <option value="gravissimas_">Gravíssimas  </option>
        <option value="lesao_seguida_morte_">Lesão Seguida de Morte  </option>
      </select>  
      
  </div>
      

      
  <div class="col">
      
      <label for="caso_obito" class="form-label m-0"><small><b>29-Em Caso de Óbito da Vítima</b></small></label>
      <div class="radio-container" id="caso_obito">
        <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento ">
        <label class="radio-label" for="caso_obito-obito_encaminhamento">Óbito no Encaminhamento </label>
        <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital ">
        <label class="radio-label" for="caso_obito-obito_hospital">Óbito no Hospital </label>
      </div>
      
  </div>
      
</div>