
<div class="row">
      
  <div class="col">
      
      <label for="houve_vitimas_fatais" class="form-label m-0"><spam style="color:red;">*</spam><small>Houve Vitimas Fatais </small></label>
      <div class="radio-container" id="houve_vitimas_fatais" required >
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-sim" value="Sim" required>
        <label class="radio-label" for="houve_vitimas_fatais-sim">Sim </label>
        <input type="radio" name="houve_vitimas_fatais" id="houve_vitimas_fatais-não" value="Não" required>
        <label class="radio-label" for="houve_vitimas_fatais-não">Não </label>
      </div>      
      
  </div>
      
      
  <div class="col">      
      <label for="numeros_vitimas_fatais_envolvidas_acidente" class="form-label m-0"><spam style="color:red;"></spam><small>Numeros de Vitimas Fatais Envolvidas no Acidente </small></label>
      <select class="select-model" id="numeros_vitimas_fatais_envolvidas_acidente" name="numeros_vitimas_fatais_envolvidas_acidente" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" disabled>
        <option value="" disabled selected>Selecione um ítem</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="mais">Mais</option>
      </select>      
  </div>
      
      
  <div class="col">
      
      <label for="numero_feridos_envolvidos_acidente" class="form-label m-0"><spam style="color:red;">*</spam><small>Numero de Feridos Envolvidos no Acidente </small></label>
      <select class="select-model" id="numero_feridos_envolvidos_acidente" name="numero_feridos_envolvidos_acidente" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true" required >
        <option value="" disabled selected>Selecione um ítem</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="mais">Mais</option>
      </select>        
      
  </div>
      
      
  <div class="col">
      
        <label for="quadro_lesoes" class="form-label m-0"><small>Quadro de Lesoes </small></label>
      <select class="select-model" id="quadro_lesoes" name="quadro_lesoes" placeholder="Selecione um ítem" data-search="true" data-silent-initial-value-set="true">
        <option value="" disabled selected>Selecione um ítem</option>
        <option value="leves">Leves </option>
        <option value="graves">Graves </option>
        <option value="gravissimas_">Gravissimas  </option>
        <option value="lesao_seguida_morte_">Lesao Seguida de Morte  </option>
      </select>  
      
  </div>
      
</div>
<div class="row">
      
  <div class="col">
      
      <label for="caso_obito" class="form-label m-0"><small>em Caso de Obito </small></label>
      <div class="radio-container" id="caso_obito">
        <input type="radio" name="caso_obito" id="caso_obito-obito_local" value="Obito no Local ">
        <label class="radio-label" for="caso_obito-obito_local">Obito no Local </label>
        <input type="radio" name="caso_obito" id="caso_obito-obito_encaminhamento" value="Obito no Encaminhamento ">
        <label class="radio-label" for="caso_obito-obito_encaminhamento">Obito no Encaminhamento </label>
        <input type="radio" name="caso_obito" id="caso_obito-obito_hospital" value="Obito no Hospital ">
        <label class="radio-label" for="caso_obito-obito_hospital">Obito no Hospital </label>
      </div>
      
  </div>
      
</div>